In [2]:
data = {}
print(data)
print(type(data))

{}
<class 'dict'>

In [4]:
#empty set
data = set()
print(data)
print(type(data))

set()
<class 'set'>

In [5]:
data = {1,11,1,22,22,34,33,22}
print(data)

{1, 34, 33, 22, 11}

In [6]:
my_list = [21,22,23,24,11,11,21,22,24]
data = set(my_list)
print(data)

{11, 21, 22, 23, 24}

In [7]:
data = {21,22,21,23,22,14,14,15}
print(data)

{21, 22, 23, 14, 15}

In [8]:
# add new item into set
data.add(77)
print(data)

{21, 22, 23, 77, 14, 15}

In [9]:
# add more then 1 
new_data = [21,33,67,68,21]
data.update(new_data)
print(data)

{67, 68, 77, 14, 15, 21, 22, 23, 33}

In [ ]:
# remove 
data.discard(777)
print(data)

{67, 68, 14, 15, 21, 22, 23, 33}

In [14]:
data.remove(21)
print(data)

{67, 68, 14, 15, 22, 23, 33}

In [16]:
value=data.pop()
print(data)
print("remove value - ",value)

{14, 15, 22, 23, 33}
remove value -  68

In [17]:
data.clear()

In [18]:
print(data)

set()

In [24]:
data1 = {21,22,23,24}
data2 = {22,23,27,29,30}
result = data1.union(data2)
print(result)
result = data1.intersection(data2)
print(result)
result = data1.difference(data2)
print(result)
result = data2.difference(data1)
print(result)

result = data2.symmetric_difference(data1)
print(result)

{21, 22, 23, 24, 27, 29, 30}
{22, 23}
{24, 21}
{27, 29, 30}
{21, 24, 27, 29, 30}

In [25]:
data = set("apple")
print(data)

{'p', 'l', 'a', 'e'}

In [26]:
for i in data:
    print(i)

p
l
a
e