In [ ]:
# install pandas 
%pip install pandas

In [ ]:
# check version
import pandas as pd
print(pd.__version__)

In [ ]:
# Series Creation
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

In [ ]:
# change index of series
custom_index = ['a', 'b', 'c', 'd', 'e']
data = pd.Series(data, index=custom_index)
print(data)

In [ ]:
# using dictionary to create series
data_dict = {'name':'Nishant', 'age':25, 'city':'New York'}
data_s = pd.Series(data_dict)
print(data_s)

In [ ]:
# accessing elements in series
print(data_s['name'])

# accessing multiple elements
print(data_s[['name', 'city']])

In [8]:
# DataFrame Creation

data = {
    'Name':['Nishant','Joy','Ashil','Anil','tiya','Jiya'],
    'Age':[25,24,23,22,21,20],
    'City':['New York','Los Angeles','Chicago','Houston','Phoenix','Philadelphia'],
    'Course':['Python','Java','C++','JavaScript','Ruby','Go']
}

In [9]:
# create DataFrame

df = pd.DataFrame(data)
print(df)

      Name  Age          City      Course
0  Nishant   25      New York      Python
1      Joy   24   Los Angeles        Java
2    Ashil   23       Chicago         C++
3     Anil   22       Houston  JavaScript
4     tiya   21       Phoenix        Ruby
5     Jiya   20  Philadelphia          Go

In [10]:
# change column name 
df.columns = ['Student Name', 'Student Age', 'Student City', 'Programming Course']
print(df)

  Student Name  Student Age  Student City Programming Course
0      Nishant           25      New York             Python
1          Joy           24   Los Angeles               Java
2        Ashil           23       Chicago                C++
3         Anil           22       Houston         JavaScript
4         tiya           21       Phoenix               Ruby
5         Jiya           20  Philadelphia                 Go

In [11]:
# change index in dataframe
df.index = ['s1', 's2', 's3', 's4', 's5', 's6']
print(df)

   Student Name  Student Age  Student City Programming Course
s1      Nishant           25      New York             Python
s2          Joy           24   Los Angeles               Java
s3        Ashil           23       Chicago                C++
s4         Anil           22       Houston         JavaScript
s5         tiya           21       Phoenix               Ruby
s6         Jiya           20  Philadelphia                 Go

In [ ]:
# https://cwpc.in/mastering-pandas-dataframes-a-comprehensive-guide-codes-with-pankaj-63b22098a6d4

In [15]:
# add new row in dataframe using concat
new_row = pd.DataFrame({'Student Name':['Riya'],
                        'Student Age':[19],
                        'Student City':['San Antonio'],
                        'Programming Course':['Swift']}, index=['s7'])
df = pd.concat([df, new_row])
print(df)

   Student Name  Student Age  Student City Programming Course
s1      Nishant           25      New York             Python
s2          Joy           24   Los Angeles               Java
s3        Ashil           23       Chicago                C++
s4         Anil           22       Houston         JavaScript
s5         tiya           21       Phoenix               Ruby
s6         Jiya           20  Philadelphia                 Go
s7         Riya           19   San Antonio              Swift

In [16]:
# add new column to dataframe
df['Graduation Year'] = [2022, 2023, 2024, 2025, 2026, 2027, 2028]
print(df)

   Student Name  Student Age  Student City Programming Course  Graduation Year
s1      Nishant           25      New York             Python             2022
s2          Joy           24   Los Angeles               Java             2023
s3        Ashil           23       Chicago                C++             2024
s4         Anil           22       Houston         JavaScript             2025
s5         tiya           21       Phoenix               Ruby             2026
s6         Jiya           20  Philadelphia                 Go             2027
s7         Riya           19   San Antonio              Swift             2028

In [17]:
# export dataframe to csv
df.to_csv('students_data.csv', index=False)