In [8]:
# print()
print('welcome')
print("welcome")

print('"welcome"')
print("'welcome'")

print(7456)

print('my number is : ',97576)

welcome
welcome
"welcome"
'welcome'
7456
my number is :  97576

In [15]:
# variable 

x = 10
print(x)
x = 20
print(x)

a , b = 45 , 56

print(a)
print(b)

10
20
45
56

In [16]:
name = "joy"
height = 4.5
age = 45

print('your name is : ',name)
print('your age is : ',age)
print('your height is : ',height)

your name is :  joy
your age is :  45
your height is :  4.5

In [18]:
# type()
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [29]:
data = 23
print(type(data))
data = 2.3
print(type(data))
data = "joy"
print(type(data))

data = [23,4,4,4]
print(type(data))

data = 23,56
print(type(data))

data = 23,
print(type(data))

data = (23,56)
print(type(data))

data = (23)
print(type(data))

data = (23,)
print(type(data))

data = {23,56}
print(type(data))

data = {'name':'joy'}
print(type(data))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'set'>
<class 'dict'>