In [28]:
%pip install yfinance matplotlib

Requirement already satisfied: yfinance in /usr/local/lib/python3.12/dist-packages (0.2.66)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.0.2)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.12/dist-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (4.5.1)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.12/dist-packages (from yfinance) (2.4.7)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.12/dist-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.12/dist-packages (from yfinance) (4.13.5)
Requirement already satisfied: curl_cffi>=0.7 in /usr/local/lib/python3.12/dist-packages (from yfinance) (0.14.0)
Requirement already satisfied: protobuf>=3.19.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (5.29.5)
Requirement already satisfied: websockets>=13.0 in /usr/local/lib/python3.12/dist-packages (from yfinance) (15.0.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (4.15.0)
Requirement already satisfied: cffi>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from curl_cffi>=0.7->yfinance) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in /usr/local/lib/python3.12/dist-packages (from curl_cffi>=0.7->yfinance) (2026.1.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.3.0->yfinance) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31->yfinance) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31->yfinance) (2.5.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (3.0)

In [29]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error , r2_score

In [30]:
# download data

data = yf.download('RELIANCE.NS', start='2018-01-01', end='2025-12-31')
#

/tmp/ipython-input-4249081785.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('RELIANCE.NS', start='2018-01-01', end='2025-12-31')
[*********************100%***********************]  1 of 1 completed

In [31]:
data.head()

Price            Close        High         Low        Open      Volume
Ticker     RELIANCE.NS RELIANCE.NS RELIANCE.NS RELIANCE.NS RELIANCE.NS
Date
2018-01-01  401.864838  407.585239  400.870942  407.585239     9453202
2018-01-02  402.483246  406.193799  400.385024  403.300454     9499419
2018-01-03  404.095551  409.042944  403.322514  408.601196    13507800
2018-01-04  406.525024  407.187631  404.493061  405.575300     9008932
2018-01-05  407.828156  409.440487  406.502971  407.187664     7441284

In [32]:
data = data[['Open','High','Low','Close','Volume']].copy()
print(data.head())

Price             Open        High         Low       Close      Volume
Ticker     RELIANCE.NS RELIANCE.NS RELIANCE.NS RELIANCE.NS RELIANCE.NS
Date
2018-01-01  407.585239  407.585239  400.870942  401.864838     9453202
2018-01-02  403.300454  406.193799  400.385024  402.483246     9499419
2018-01-03  408.601196  409.042944  403.322514  404.095551    13507800
2018-01-04  405.575300  407.187631  404.493061  406.525024     9008932
2018-01-05  407.187664  409.440487  406.502971  407.828156     7441284

In [33]:
data.shape

(1975, 5)

In [34]:
# set target close price
data['target'] = data['Close'].shift(-1)

In [35]:
# drop last column
data = data.dropna()

In [36]:
data.head()

Price             Open        High  ...      Volume      target
Ticker     RELIANCE.NS RELIANCE.NS  ... RELIANCE.NS
Date                                ...
2018-01-01  407.585239  407.585239  ...     9453202  402.483246
2018-01-02  403.300454  406.193799  ...     9499419  404.095551
2018-01-03  408.601196  409.042944  ...    13507800  406.525024
2018-01-04  405.575300  407.187631  ...     9008932  407.828156
2018-01-05  407.187664  409.440487  ...     7441284  410.169342

[5 rows x 6 columns]

In [37]:
# create feature
# lagged price (previous 1- 5 day close)
for log in range(1,6):
  data[f'Close_log_{log}'] = data['Close'].shift(log)

In [38]:
# simple moving average --

data['SMA_5'] = data['Close'].rolling(window=5).mean()
data['SMA_20'] = data['Close'].rolling(window=20).mean()

# price change & volatility
data['Return_1'] = data['Close'].pct_change(1)
data['Return_5'] = data['Close'].pct_change(5)


# volume moving average
data['Volume_5'] = data['Volume'].rolling(window=5).mean()

In [39]:
data.head()

Price             Open        High         Low  ...  Return_1 Return_5   Volume_5
Ticker     RELIANCE.NS RELIANCE.NS RELIANCE.NS  ...
Date                                            ...
2018-01-01  407.585239  407.585239  400.870942  ...       NaN      NaN        NaN
2018-01-02  403.300454  406.193799  400.385024  ...  0.001539      NaN        NaN
2018-01-03  408.601196  409.042944  403.322514  ...  0.004006      NaN        NaN
2018-01-04  405.575300  407.187631  404.493061  ...  0.006012      NaN        NaN
2018-01-05  407.187664  409.440487  406.502971  ...  0.003206      NaN  9782127.4

[5 rows x 16 columns]

In [40]:
# drop blank row
data = data.dropna()

In [41]:
data.shape

(1955, 16)

In [42]:
data

Price              Open         High  ...  Return_5    Volume_5
Ticker      RELIANCE.NS  RELIANCE.NS  ...
Date                                  ...
2018-01-29   426.800572   431.703766  ...  0.035649  21216798.6
2018-01-30   426.623837   426.623837  ... -0.021719  13913243.2
2018-01-31   419.644482   426.049576  ... -0.022324  11918218.4
2018-02-01   425.497429   429.627585  ... -0.023283  12365283.2
2018-02-02   413.018452   416.971950  ... -0.063723  15424421.6
...                 ...          ...  ...       ...         ...
2025-12-22  1573.500000  1577.500000  ...  0.012338   9910292.2
2025-12-23  1580.900024  1580.900024  ...  0.018414   9065233.8
2025-12-24  1572.699951  1575.699951  ...  0.008935   9405053.0
2025-12-26  1554.699951  1561.000000  ...  0.009583   8551186.2
2025-12-29  1554.900024  1558.099976  ... -0.012459   6958152.2

[1955 rows x 16 columns]