In [1]:
data = "Welcome to Python Learning"
print(data)

Welcome to Python Learning

In [3]:
first_name = "Nishant"
Last_name = " jain"

full_name = first_name + Last_name

print("this is your full name "+full_name)

this is your full name Nishant jain

In [6]:
print("welcome "*4)

welcome welcome welcome welcome

In [10]:
data = 'Welcome'
print(data[2])
print(data[:3])
print(data[3:])
print(data[3:5])

l
Wel
come
co

In [12]:
data = "Codes With Pankaj"
# 1. upper() converts the string to uppercase
print(data.upper())
# 2. lower() converts the string to lowercase
print(data.lower())

CODES WITH PANKAJ
codes with pankaj

In [36]:
# 3. partition() returns a tuple
print(data.partition("a"))
# 4. replace() replaces substring inside
print(data.replace("Codes","Python"))
# 5. find() returns the index of first occurrence of substring
print(data.find("W"))
# 6. rstrip() removes trailing characters
new_data = "Welcome     "
print(new_data,"Welcome")
print(new_data.rstrip(),"Welcome")
my_data = "    Codes"
print("welcome",my_data.strip())
# 7. split() splits string from left (list)
print(data.split(" "))
# 8. startswith() checks if string starts with the specified string
print(data.startswith("C"))
print(data.startswith("Codes"))
# 9. isnumeric() checks numeric characters
number = "90"
print(number.isnumeric())
# 10. index() returns index of substring
print(data.index("W"))

('Codes With P', 'a', 'nkaj')
Python With Pankaj
6
Welcome      Welcome
Welcome Welcome
welcome Codes
['Codes', 'With', 'Pankaj']
True
True
True
6

In [40]:
# Format()

name = "joy"
height = 4.5
age = 23

print('My Name is ',name,'Age is ',age,'and height ',height)

print('My name is {0} age is {1} and height {2} '.format(name,age,height))

print(f'My name is {name} and age {age}, height {height}')

My Name is  joy Age is  23 and height  4.5
My name is joy age is 23 and height 4.5
My name is joy and age 23, height 4.5

In [41]:
for i in data:
    print(i)

C
o
d
e
s

W
i
t
h

P
a
n
k
a
j