In [19]:
# install pandas
%pip install pandas

Requirement already satisfied: pandas in c:\users\programming\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\programming\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\programming\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\programming\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\programming\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\programming\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
import pandas as pd
data = ["Apple", "Banana", "Cherry", "Date", "Elderberry"]

# for fruit in data:
#     print(fruit)

# using pandas to create a series

fruits_series = pd.Series(data)
print(fruits_series)

0         Apple
1        Banana
2        Cherry
3          Date
4    Elderberry
dtype: object

In [21]:
# modified index
indexx = ["A", "B", "C", "D", "E"]
fruits_series = pd.Series(data, index=indexx)
print(fruits_series)

A         Apple
B        Banana
C        Cherry
D          Date
E    Elderberry
dtype: object

In [22]:
# change datatype
data = [1, 2, 3, 4, 5]
s = pd.Series(data, index=indexx, dtype='float')
print(s)

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
dtype: float64

In [26]:
# acessing elements

print(fruits_series[3])  # first element
print(fruits_series["C"])  # element with index "C"

Date
Cherry

C:\Users\Programming\AppData\Local\Temp\ipykernel_10800\2990391315.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(fruits_series[3])  # first element

In [27]:
# dataframe
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [29]:
# change index
indexx = ["A", "B", "C"]
df = pd.DataFrame(data, index=indexx)
print(df)

      Name  Age         City
A    Alice   25     New York
B      Bob   30  Los Angeles
C  Charlie   35      Chicago

In [34]:
# access data 
print(df["Name"])  # access column "Name"

# access row by index
print(df.loc["A"])  # access row with index "A"
print(df.iloc[1])

A      Alice
B        Bob
C    Charlie
Name: Name, dtype: object
Name       Alice
Age           25
City    New York
Name: A, dtype: object
Name            Bob
Age              30
City    Los Angeles
Name: B, dtype: object

In [35]:
# access single value
print(df.at["A", "Name"])  # access value at row "A" and column "Name"

Alice

In [36]:
# new column
df["Salary"] = [50000, 60000, 70000]
print(df)

      Name  Age         City  Salary
A    Alice   25     New York   50000
B      Bob   30  Los Angeles   60000
C  Charlie   35      Chicago   70000

In [42]:
# add new row in dataframe using concat
new_row = pd.DataFrame({"Name": ["David"], "Age": [28], "City": ["San Francisco"], "Salary": [80000]}, index=["D"])
df = pd.concat([df, new_row])
print(df)

      Name  Age           City  Salary
A    Alice   25       New York   50000
B      Bob   30    Los Angeles   60000
C  Charlie   35        Chicago   70000
D    David   28  San Francisco   80000

In [44]:
# write dataframe to csv
df.to_csv("output.csv", index=False)
# read dataframe from csv
# df_from_csv = pd.read_csv("output.csv")

In [ ]:
# https://cwpc.in/mastering-pandas-dataframes-a-comprehensive-guide-codes-with-pankaj-63b22098a6d4

In [ ]:
# read csv
df = pd.read_csv("dataset.csv")
print(df.head())  # display first few 5 rows of the dataframe

   #  Employee Name  Salary         City Department Name State  Mobile Number  \
0  1  Alice Johnson   60000     New York              HR    NY     9175551234
1  2      Bob Smith   75000  Los Angeles              IT    CA     2135554567
2  3   Carol Taylor   82000      Chicago         Finance    IL     3125557890
3  4    David Brown   71000      Houston       Marketing    TX     8325552345
4  5    Emily Davis   92000      Phoenix              IT    AZ     6025553456

  Job ID
0  HR101
1  IT202
2  FN303
3  MK404
4  IT205