In [2]:
import pandas as pd
import numpy as np

In [5]:
# step no 1 create a sales data
data = {
    "order_id":[1,2,3,4,5,6,7,8],
    "customer":['john','joy','rahul','rohan','riya','tiya','heena','nishant'],
    "product":['laptop','phone','mouse','tablet','phone','tablet','laptop','laptop'],
    "quantity":[4,5,2,1,2,1,1,3],
    "price": [1000,300,4500,500,760,980,780,7000],
   "date":['2023-01-03','2023-01-04','2023-01-01','2023-01-04','2023-01-05','2023-01-8','2023-01-23','2023-01-12']    
}

In [8]:
# step no 2 create a dataframe
df = pd.DataFrame(data)

In [9]:
# step no 3 print first 5 row
print(df.head())

   order_id customer product  quantity  price        date
0         1     john  laptop         4   1000  2023-01-03
1         2      joy   phone         5    300  2023-01-04
2         3    rahul   mouse         2   4500  2023-01-01
3         4    rohan  tablet         1    500  2023-01-04
4         5     riya   phone         2    760  2023-01-05

In [11]:
# step no 4 data cleaning
print(df.describe())

       order_id  quantity        price
count   8.00000  8.000000     8.000000
mean    4.50000  2.375000  1977.500000
std     2.44949  1.505941  2433.467544
min     1.00000  1.000000   300.000000
25%     2.75000  1.000000   695.000000
50%     4.50000  2.000000   880.000000
75%     6.25000  3.250000  1875.000000
max     8.00000  5.000000  7000.000000

In [13]:
print(df.dtypes)

order_id     int64
customer    object
product     object
quantity     int64
price        int64
date        object
dtype: object

In [16]:
# convert date column to datetime
# print(df['date'])

df['date'] = pd.to_datetime(df['date'])
print(df.dtypes)

order_id             int64
customer            object
product             object
quantity             int64
price                int64
date        datetime64[ns]
dtype: object

In [18]:
# check for missing values
print(df.isnull().sum())

order_id    0
customer    0
product     0
quantity    0
price       0
date        0
dtype: int64

In [22]:
# step no. 5 Basic data analysis
# calculate total revenue per order

df['total_revenue'] = df['quantity'] * df['price']
print(df.head())

   order_id customer product  quantity  price       date  total_revenue
0         1     john  laptop         4   1000 2023-01-03           4000
1         2      joy   phone         5    300 2023-01-04           1500
2         3    rahul   mouse         2   4500 2023-01-01           9000
3         4    rohan  tablet         1    500 2023-01-04            500
4         5     riya   phone         2    760 2023-01-05           1520

In [27]:
#step no. 6  total revenue by customer (grouping and aggregation)
customer_revenue =  df.groupby('customer')['total_revenue'].sum().reset_index()
print(customer_revenue)

  customer  total_revenue
0    heena            780
1     john           4000
2      joy           1500
3  nishant          21000
4    rahul           9000
5     riya           1520
6    rohan            500
7     tiya            980

In [28]:
# step no. 7 Product analysis
# most popular product by quantity sold 
product_sales = df.groupby('product')['quantity'].sum().reset_index()
print('\n product sales = \n ',product_sales)

 product sales =
    product  quantity
0  laptop         8
1   mouse         2
2   phone         7
3  tablet         2