In [1]:
import pandas as pd

In [31]:
# step no. 1 Read csv
data = pd.read_csv('data.csv')

In [32]:
# Display top 5 row 
print(data.head())

   #  Employee Name   Salary         City Department Name State  \
0  1  Alice Johnson  60000.0     New York              HR    NY
1  2      Bob Smith  75000.0  Los Angeles              IT    CA
2  3   Carol Taylor  82000.0      Chicago         Finance    IL
3  4    David Brown  71000.0      Houston       Marketing    TX
4  5    Emily Davis  92000.0      Phoenix              IT    AZ

   Mobile Number Job ID
0   9.175551e+09  HR101
1   2.135555e+09  IT202
2   3.125558e+09  FN303
3   8.325552e+09  MK404
4   6.025553e+09  IT205

In [33]:
# get basic infomation 
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #                40 non-null     int64
 1   Employee Name    37 non-null     object
 2   Salary           37 non-null     float64
 3   City             39 non-null     object
 4   Department Name  37 non-null     object
 5   State            38 non-null     object
 6   Mobile Number    39 non-null     float64
 7   Job ID           39 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 2.6+ KB
None

In [34]:
# get summary statistics 
print(data.describe())

               #        Salary  Mobile Number
count  40.000000     37.000000   3.900000e+01
mean   20.500000  78513.513514   5.676837e+09
std    11.690452  10550.465028   2.508958e+09
min     1.000000  60000.000000   2.025559e+09
25%    10.750000  70000.000000   3.600557e+09
50%    20.500000  76000.000000   5.205551e+09
75%    30.250000  87000.000000   8.170554e+09
max    40.000000  97000.000000   9.725559e+09

In [35]:
# selecting and filtering data
# print all column 
print(data.columns)

Index(['#', 'Employee Name', 'Salary', 'City', 'Department Name', 'State',
       'Mobile Number', 'Job ID'],
      dtype='object')

In [36]:
# print single column 
print(data['Employee Name'].head(10))

0     Alice Johnson
1         Bob Smith
2      Carol Taylor
3       David Brown
4       Emily Davis
5      Frank Wilson
6    Grace Martinez
7         Henry Lee
8      Irene Walker
9         Jack Hall
Name: Employee Name, dtype: object

In [37]:
# print salary and name
print(data[['Employee Name','Salary']].head())

   Employee Name   Salary
0  Alice Johnson  60000.0
1      Bob Smith  75000.0
2   Carol Taylor  82000.0
3    David Brown  71000.0
4    Emily Davis  92000.0

In [38]:
# print salary < 50,000
print(data[data['Salary'] < 70000].head())

     #  Employee Name   Salary          City Department Name State  \
0    1  Alice Johnson  60000.0      New York              HR    NY
5    6   Frank Wilson  67000.0  Philadelphia              HR    PA
8    9   Irene Walker  68000.0        Dallas       Marketing    TX
10  11    Karen Allen  64000.0        Austin              HR    TX
15  16     Paul Green  66000.0  Indianapolis              HR    IN

    Mobile Number Job ID
0    9.175551e+09  HR101
5    2.155557e+09  HR102
8    9.725559e+09  MK405
10   7.375551e+09  HR103
15   3.175557e+09  HR104

In [39]:
print(data[data['Department Name'] == "Marketing"])

     #  Employee Name   Salary         City Department Name State  \
3    4    David Brown  71000.0      Houston       Marketing    TX
8    9   Irene Walker  68000.0       Dallas       Marketing    TX
13  14  Nathan Wright  87000.0     Columbus       Marketing    OH
18  19   Sarah Carter  72000.0   Washington       Marketing    DC
23  24  Xavier Morris  81000.0      Memphis       Marketing    TN
28  29     Clara Ward  71000.0    Milwaukee       Marketing    WI
33  34   Hugo Ramirez  79000.0  Kansas City       Marketing    MO
38  39   Monica Black  70000.0        Miami       Marketing    FL

    Mobile Number Job ID
3    8.325552e+09  MK404
8    9.725559e+09  MK405
13   6.145555e+09  MK406
18   2.025559e+09  MK407
23   9.015555e+09  MK408
28   4.145559e+09  MK409
33   8.165555e+09  MK410
38   3.055559e+09  MK411

In [26]:
# update values 
data['Update_Salary'] = data['Salary'] - 10000

In [29]:
print(data.head())

   #  Employee Name  Salary         City Department Name State Job ID  \
0  1  Alice Johnson   60000     New York              HR    NY  HR101
1  2      Bob Smith   75000  Los Angeles              IT    CA  IT202
2  3   Carol Taylor   82000      Chicago         Finance    IL  FN303
3  4    David Brown   71000      Houston       Marketing    TX  MK404
4  5    Emily Davis   92000      Phoenix              IT    AZ  IT205

   Update_Salary
0          50000
1          65000
2          72000
3          61000
4          82000

In [28]:
# drop column 
# data = data.drop('Mobile Number',axis=1)
# print(data.head())

   #  Employee Name  Salary         City Department Name State Job ID  \
0  1  Alice Johnson   60000     New York              HR    NY  HR101
1  2      Bob Smith   75000  Los Angeles              IT    CA  IT202
2  3   Carol Taylor   82000      Chicago         Finance    IL  FN303
3  4    David Brown   71000      Houston       Marketing    TX  MK404
4  5    Emily Davis   92000      Phoenix              IT    AZ  IT205

   Update_Salary
0          50000
1          65000
2          72000
3          61000
4          82000

In [41]:
# find the missing values 
print(data.isnull().sum())

#                  0
Employee Name      3
Salary             3
City               1
Department Name    3
State              2
Mobile Number      1
Job ID             1
dtype: int64

In [43]:
# fill missing values 
data['Employee Name'] = data['Employee Name'].fillna("Unknown")
print(data.isnull().sum())

#                  0
Employee Name      0
Salary             3
City               1
Department Name    3
State              2
Mobile Number      1
Job ID             1
dtype: int64

In [44]:
data['Salary'] = data['Salary'].fillna(data['Salary'].mean())
print(data.isnull().sum())

#                  0
Employee Name      0
Salary             0
City               1
Department Name    3
State              2
Mobile Number      1
Job ID             1
dtype: int64

In [46]:
# make group 
print(data.groupby('Department Name')['Salary'].mean())

Department Name
Finance      82289.575290
HR           65571.428571
IT           85066.666667
Marketing    74875.000000
Name: Salary, dtype: float64

In [ ]:
# save your result :