In [32]:
import pandas as pd

In [33]:
# Load the dataset into a Pandas DataFrame and display the first 5 rows.
# read dataset csv
df = pd.read_csv("data.csv")
df.head()

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Type,Merchant,Category,Amount,Payment_Mode,Transaction_Status,Location
0,100000.0,4452,2023-01-01,Online,Walmart,Travel,4520.70,Debit Card,Approved,Jonesport
1,100001.0,2775,2023-01-01,ATM,BestBuy,Travel,1437.85,Debit Card,Approved,Port Jennifer
2,100002.0,2259,2023-01-01,Mobile Payment,Uber,Clothing,3320.52,PayPal,Approved,Port James
3,100003.0,4545,2023-01-01,Online,BestBuy,Travel,2659.96,Debit Card,Approved,Hawkinston
4,100004.0,2137,2023-01-01,ATM,Amazon,Travel,2517.07,Debit Card,Approved,Matthewland

In [34]:
# Check the shape, column names, and summary statistics of the dataset.
print(df.shape)
print(df.describe()) # only int value

(5500, 10)
       Transaction_ID  Customer_ID       Amount
count     5499.000000  5500.000000  5498.000000
mean    102749.998727  2989.954182  2492.286513
std       1587.571099  1153.928878  1444.710273
min     100000.000000  1000.000000     6.550000
25%     101375.500000  1988.000000  1236.765000
50%     102750.000000  3000.000000  2503.355000
75%     104124.500000  3990.000000  3768.332500
max     105499.000000  4998.000000  4997.490000

In [35]:
# print columns name 
print(df.columns.tolist())

['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type', 'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status', 'Location']

In [36]:
# Identify and handle missing values (fill or drop based on the data type).
print(df.isnull().sum())

Transaction_ID        1
Customer_ID           0
Transaction_Date      0
Transaction_Type      0
Merchant              0
Category              4
Amount                2
Payment_Mode          0
Transaction_Status    0
Location              0
dtype: int64

In [37]:
# handel missing value
print(df.dtypes)

Transaction_ID        float64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [38]:
num_cols = ['Customer_ID','Amount','Transaction_ID']
categorical_col = ['Transaction_Type','Merchant','Category','Payment_Mode','Transaction_Status','Location']

for col in num_cols:
    if df[col].isnull().any():
        df[col].fillna(df[col].mean(),inplace=True)

/var/folders/f3/3kqpjfqj03s00nxsf6rppv280000gn/T/ipykernel_88562/2553845451.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

In [39]:
print(df.isnull().sum())

Transaction_ID        0
Customer_ID           0
Transaction_Date      0
Transaction_Type      0
Merchant              0
Category              4
Amount                0
Payment_Mode          0
Transaction_Status    0
Location              0
dtype: int64

In [40]:
for col in categorical_col:
    if df[col].isnull().any():
        df[col].fillna("unknown",inplace=True)

/var/folders/f3/3kqpjfqj03s00nxsf6rppv280000gn/T/ipykernel_88562/3443848894.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("unknown",inplace=True)

In [41]:
print(df.isnull().sum())

Transaction_ID        0
Customer_ID           0
Transaction_Date      0
Transaction_Type      0
Merchant              0
Category              0
Amount                0
Payment_Mode          0
Transaction_Status    0
Location              0
dtype: int64

In [42]:
# delete row missing value > 50%
df = df.dropna(thresh=len(df)*0.5,axis=1)

In [43]:
df.dtypes

Transaction_ID        float64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [44]:
# Convert Transaction_Date into datetime format and extract year, month, and day as new columns.
# convert date 
df['Transaction_Date'] = pd.to_datetime(df['Transaction_Date'])

In [45]:
df.dtypes

Transaction_ID               float64
Customer_ID                    int64
Transaction_Date      datetime64[ns]
Transaction_Type              object
Merchant                      object
Category                      object
Amount                       float64
Payment_Mode                  object
Transaction_Status            object
Location                      object
dtype: object

In [46]:
# year , month , day
df['Year'] = df['Transaction_Date'].dt.year
df['Month'] = df['Transaction_Date'].dt.month
df['Day'] = df['Transaction_Date'].dt.day

In [47]:
df.head()

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Type,Merchant,Category,Amount,Payment_Mode,Transaction_Status,Location,Year,Month,Day
0,100000.0,4452,2023-01-01,Online,Walmart,Travel,4520.70,Debit Card,Approved,Jonesport,2023,1,1
1,100001.0,2775,2023-01-01,ATM,BestBuy,Travel,1437.85,Debit Card,Approved,Port Jennifer,2023,1,1
2,100002.0,2259,2023-01-01,Mobile Payment,Uber,Clothing,3320.52,PayPal,Approved,Port James,2023,1,1
3,100003.0,4545,2023-01-01,Online,BestBuy,Travel,2659.96,Debit Card,Approved,Hawkinston,2023,1,1
4,100004.0,2137,2023-01-01,ATM,Amazon,Travel,2517.07,Debit Card,Approved,Matthewland,2023,1,1

In [48]:
# Retrieve all transactions made in January 2024.
jan_2023_transactions = df[(df['Year']== 2023) & (df['Month'] == 1)]
print(jan_2023_transactions)
jan_2023_transactions.to_csv("jan_2023_transactions.csv")

     Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0          100000.0         4452       2023-01-01           Online
1          100001.0         2775       2023-01-01              ATM
2          100002.0         2259       2023-01-01   Mobile Payment
3          100003.0         4545       2023-01-01           Online
4          100004.0         2137       2023-01-01              ATM
..              ...          ...              ...              ...
739        100739.0         3898       2023-01-31              POS
740        100740.0         2457       2023-01-31   Mobile Payment
741        100741.0         2107       2023-01-31   Mobile Payment
742        100742.0         2678       2023-01-31              POS
743        100743.0         4586       2023-01-31              ATM

        Merchant     Category   Amount Payment_Mode Transaction_Status  \
0        Walmart       Travel  4520.70   Debit Card           Approved
1        BestBuy       Travel  1437.85   Debit Card           Approved
2           Uber     Clothing  3320.52       PayPal           Approved
3        BestBuy       Travel  2659.96   Debit Card           Approved
4         Amazon       Travel  2517.07   Debit Card           Approved
..           ...          ...      ...          ...                ...
739      BestBuy    Groceries  2579.83       PayPal           Approved
740         Uber  Electronics   399.85       PayPal           Approved
741      BestBuy     Clothing  1455.49   Debit Card            Pending
742      Walmart    Groceries   781.63          UPI           Approved
743  Apple Store     Clothing  1697.28          UPI           Approved

          Location  Year  Month  Day
0        Jonesport  2023      1    1
1    Port Jennifer  2023      1    1
2       Port James  2023      1    1
3       Hawkinston  2023      1    1
4      Matthewland  2023      1    1
..             ...   ...    ...  ...
739    East Amanda  2023      1   31
740      Grossfurt  2023      1   31
741   Port Charles  2023      1   31
742    Heathertown  2023      1   31
743    East Nathan  2023      1   31

[744 rows x 13 columns]

In [49]:
# Find transactions where Amount > 4000 and Transaction_Type is "Online".
high_online_transactions = df[(df['Amount'] > 4000) & (df['Transaction_Type']== "Online")]
print(high_online_transactions)

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0           100000.0         4452       2023-01-01           Online
22          100022.0         3057       2023-01-01           Online
26          100026.0         4254       2023-01-02           Online
27          100027.0         1719       2023-01-02           Online
34          100034.0         2424       2023-01-02           Online
...              ...          ...              ...              ...
5326        105326.0         1662       2023-08-10           Online
5341        105341.0         2011       2023-08-11           Online
5395        105395.0         3551       2023-08-13           Online
5446        105446.0         4468       2023-08-15           Online
5461        105461.0         1140       2023-08-16           Online

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
0         Walmart         Travel  4520.70   Debit Card           Approved
22        BestBuy      Groceries  4094.49       PayPal           Approved
26        BestBuy         Travel  4054.78  Credit Card           Approved
27        Walmart  Entertainment  4471.68          UPI            Pending
34         Target      Groceries  4074.73       PayPal           Approved
...           ...            ...      ...          ...                ...
5326       Target    Electronics  4020.44  Credit Card           Approved
5341  Apple Store         Dining  4532.78  Credit Card           Approved
5395       Target         Dining  4540.80  Credit Card            Pending
5446      Walmart         Dining  4124.70  Credit Card           Declined
5461  Apple Store  Entertainment  4027.18       PayPal           Approved

                Location  Year  Month  Day
0              Jonesport  2023      1    1
22          West Kenneth  2023      1    1
26          Stevensmouth  2023      1    2
27           Riveramouth  2023      1    2
34        North Marytown  2023      1    2
...                  ...   ...    ...  ...
5326  South Adrianaburgh  2023      8   10
5341           Allenland  2023      8   11
5395          Floresview  2023      8   13
5446         Cartermouth  2023      8   15
5461   South Lorichester  2023      8   16

[291 rows x 13 columns]

In [50]:
# Select only Approved transactions from the dataset.
df.head()

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Type,Merchant,Category,Amount,Payment_Mode,Transaction_Status,Location,Year,Month,Day
0,100000.0,4452,2023-01-01,Online,Walmart,Travel,4520.70,Debit Card,Approved,Jonesport,2023,1,1
1,100001.0,2775,2023-01-01,ATM,BestBuy,Travel,1437.85,Debit Card,Approved,Port Jennifer,2023,1,1
2,100002.0,2259,2023-01-01,Mobile Payment,Uber,Clothing,3320.52,PayPal,Approved,Port James,2023,1,1
3,100003.0,4545,2023-01-01,Online,BestBuy,Travel,2659.96,Debit Card,Approved,Hawkinston,2023,1,1
4,100004.0,2137,2023-01-01,ATM,Amazon,Travel,2517.07,Debit Card,Approved,Matthewland,2023,1,1

In [53]:
approved_transactions = df[df['Transaction_Status']=='Approved']
print(approved_transactions)

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0           100000.0         4452       2023-01-01           Online
1           100001.0         2775       2023-01-01              ATM
2           100002.0         2259       2023-01-01   Mobile Payment
3           100003.0         4545       2023-01-01           Online
4           100004.0         2137       2023-01-01              ATM
...              ...          ...              ...              ...
5495        105495.0         3262       2023-08-17              ATM
5496        105496.0         1234       2023-08-18              POS
5497        105497.0         3978       2023-08-18           Online
5498        105498.0         3082       2023-08-18              ATM
5499        105499.0         2271       2023-08-18   Mobile Payment

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
0         Walmart         Travel  4520.70   Debit Card           Approved
1         BestBuy         Travel  1437.85   Debit Card           Approved
2            Uber       Clothing  3320.52       PayPal           Approved
3         BestBuy         Travel  2659.96   Debit Card           Approved
4          Amazon         Travel  2517.07   Debit Card           Approved
...           ...            ...      ...          ...                ...
5495  Apple Store         Travel  4554.82   Debit Card           Approved
5496         Uber         Travel  4118.51   Debit Card           Approved
5497  Apple Store       Clothing  2981.13          UPI           Approved
5498         Uber       Clothing  2168.39   Debit Card           Approved
5499      Netflix  Entertainment  1918.66          UPI           Approved

               Location  Year  Month  Day
0             Jonesport  2023      1    1
1         Port Jennifer  2023      1    1
2            Port James  2023      1    1
3            Hawkinston  2023      1    1
4           Matthewland  2023      1    1
...                 ...   ...    ...  ...
5495   South Hannahtown  2023      8   17
5496     South Courtney  2023      8   18
5497           Rubenton  2023      8   18
5498     East Brianfurt  2023      8   18
5499  New Stephaniebury  2023      8   18

[4698 rows x 13 columns]

In [56]:
# Data Manipulation and Feature (Column) Engineering
# Create a new column Discounted_Amount, assuming a 5% discount on all transactions above $4000.

df['Discounted_Amount'] = df['Amount'].apply(lambda x : x * 0.95 if x > 4000 else x)

0       4294.6650
1       1437.8500
2       3320.5200
3       2659.9600
4       2517.0700
          ...
5495    4327.0790
5496    3912.5845
5497    2981.1300
5498    2168.3900
5499    1918.6600
Name: Discounted_Amount, Length: 5500, dtype: float64

In [59]:
# Categorize the Transaction_Amount into Low, Medium, and High based on:
# Low: Below $1000
# Medium: Between $1000 - $5000=4000
# High: Above $4000

def categorize_amount(amount):
    if amount < 1000:
        return "Low"
    elif 1000 <= amount <= 4000:
        return "Medium"
    else:
        return 'High'

df['Amount_Category'] = df['Amount'].apply(categorize_amount)

In [63]:
df.head(10)

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Type,Merchant,Category,Amount,Payment_Mode,Transaction_Status,Location,Year,Month,Day,Discounted_Amount,Amount_Category
0,100000.000000,4452,2023-01-01,Online,Walmart,Travel,4520.70,Debit Card,Approved,Jonesport,2023,1,1,4294.665,High
1,100001.000000,2775,2023-01-01,ATM,BestBuy,Travel,1437.85,Debit Card,Approved,Port Jennifer,2023,1,1,1437.850,Medium
2,100002.000000,2259,2023-01-01,Mobile Payment,Uber,Clothing,3320.52,PayPal,Approved,Port James,2023,1,1,3320.520,Medium
3,100003.000000,4545,2023-01-01,Online,BestBuy,Travel,2659.96,Debit Card,Approved,Hawkinston,2023,1,1,2659.960,Medium
4,100004.000000,2137,2023-01-01,ATM,Amazon,Travel,2517.07,Debit Card,Approved,Matthewland,2023,1,1,2517.070,Medium
5,100005.000000,4096,2023-01-01,ATM,Uber,Groceries,2032.91,UPI,Approved,West Patriciamouth,2023,1,1,2032.910,Medium
6,100006.000000,1587,2023-01-01,Online,Netflix,Entertainment,2309.06,Debit Card,Approved,Scottport,2023,1,1,2309.060,Medium
7,102749.998727,2103,2023-01-01,ATM,Uber,Dining,334.82,PayPal,Pending,Shawview,2023,1,1,334.820,Low
8,100008.000000,3553,2023-01-01,POS,Amazon,Dining,374.29,PayPal,Approved,Port Lindsay,2023,1,1,374.290,Low
9,100009.000000,4821,2023-01-01,Mobile Payment,Netflix,Electronics,1117.12,UPI,Approved,Lake Steveport,2023,1,1,1117.120,Medium

In [61]:
# Drop the Merchant column if more than 30% of values are missing.
if df['Merchant'].isnull().sum()/len(df) > 0.3:
    df.drop('Merchant',axis=1,inplace=True)

In [62]:
# Aggregation and Insights
# Find the total transaction amount per Category.
total_per_category = df.groupby('Category')['Amount'].sum().reset_index()
print(total_per_category)

        Category        Amount
0       Clothing  2.182564e+06
1         Dining  2.402259e+06
2    Electronics  2.320286e+06
3  Entertainment  2.241827e+06
4      Groceries  2.383573e+06
5         Travel  2.165420e+06
6        unknown  1.164752e+04

In [68]:
# Determine the number of declined transactions per Payment_Mode.
decliend_per_mode = df[df['Transaction_Status'] == 'Declined'].groupby('Payment_Mode').size().reset_index(name="Count")

In [69]:
print(decliend_per_mode)

  Payment_Mode  Count
0  Credit Card    117
1   Debit Card    145
2       PayPal    135
3          UPI    134

In [73]:
# Identify the top 5 most frequent merchants based on transaction count.
top_merchants = df['Merchant'].value_counts().head(5).reset_index(name="Count")
print(top_merchants)

  Merchant  Count
0     Uber    833
1  Walmart    818
2  BestBuy    790
3  Netflix    774
4   Amazon    770

In [74]:
# Find the average transaction amount per Location.
avg_per_location = df.groupby("Location")["Amount"].mean().reset_index(name="Average_Amount")
print(avg_per_location)

          Location  Average_Amount
0        Aaronfort        2429.860
1       Aaronmouth        2648.060
2        Aaronside         315.540
3       Abbottbury        1549.850
4      Abigailfort        3634.880
...            ...             ...
4658  Zacharyburgh        2430.690
4659  Zacharyhaven         830.360
4660  Zacharymouth        3508.690
4661   Zacharystad        2925.135
4662   Zavalaburgh         364.530

[4663 rows x 2 columns]

In [77]:
df.columns

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type',
       'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status',
       'Location', 'Year', 'Month', 'Day', 'Discounted_Amount',
       'Amount_Category'],
      dtype='object')

In [85]:
# Fraud Detection Indicators
# Find customers who made more than 10 transactions in a single day (potential fraud).
df['Date'] = df['Transaction_Date'].dt.date
transactions_per_day = df.groupby(['Customer_ID','Date']).size().reset_index(name='Transcation_count')
potential_fraud_customer = transactions_per_day[transactions_per_day['Transcation_count']>1]
potential_fraud_customer

      Customer_ID        Date  Transcation_count
114          1079  2023-06-04                  2
203          1140  2023-08-16                  2
494          1343  2023-08-16                  2
1017         1709  2023-07-10                  2
1084         1776  2023-04-18                  2
1274         1910  2023-01-09                  2
1337         1956  2023-04-20                  2
1544         2122  2023-07-09                  2
1565         2136  2023-03-01                  2
1600         2165  2023-07-10                  2
1753         2270  2023-05-25                  2
2578         2884  2023-02-01                  2
2905         3131  2023-04-15                  2
3057         3234  2023-04-23                  2
3233         3351  2023-07-25                  2
3807         3783  2023-03-18                  2
3916         3861  2023-05-27                  2
4323         4143  2023-03-23                  2
4458         4238  2023-02-13                  2
4732         4429  2023-05-17                  2
5381         4916  2023-08-12                  2

In [ ]:
# Identify transactions that have the same Customer_ID but occurred in different locations within 5 minutes.

In [90]:
# Find transactions where Amount > $5000 and Transaction_Type is Online (flag as high-risk).
high_risk = df[(df['Amount']>4900) & (df['Transaction_Type']== 'Online')]
high_risk

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Type,Merchant,Category,Amount,Payment_Mode,Transaction_Status,Location,Year,Month,Day,Discounted_Amount,Amount_Category,Date
180,100180.0,3929,2023-01-08,Online,Uber,Travel,4947.09,UPI,Approved,Port Scottshire,2023,1,8,4699.7355,High,2023-01-08
279,100279.0,2049,2023-01-12,Online,Uber,Travel,4924.77,UPI,Approved,Ryanside,2023,1,12,4678.5315,High,2023-01-12
283,100283.0,4665,2023-01-12,Online,Amazon,Travel,4958.69,UPI,Approved,Lake Nicholeville,2023,1,12,4710.7555,High,2023-01-12
477,100477.0,4429,2023-01-20,Online,Target,Travel,4923.44,UPI,Approved,Shannonside,2023,1,20,4677.2680,High,2023-01-20
538,100538.0,3228,2023-01-23,Online,Amazon,Dining,4946.89,Credit Card,Declined,Michelletown,2023,1,23,4699.5455,High,2023-01-23
751,100751.0,3541,2023-02-01,Online,Netflix,Groceries,4962.50,Debit Card,Declined,West Samanthahaven,2023,2,1,4714.3750,High,2023-02-01
1282,101282.0,3878,2023-02-23,Online,Apple Store,Entertainment,4903.52,UPI,Approved,Shawville,2023,2,23,4658.3440,High,2023-02-23
1458,101458.0,3417,2023-03-02,Online,BestBuy,Electronics,4989.76,PayPal,Approved,Harperborough,2023,3,2,4740.2720,High,2023-03-02
1493,101493.0,2409,2023-03-04,Online,Walmart,Electronics,4976.10,UPI,Approved,New Susanchester,2023,3,4,4727.2950,High,2023-03-04
1575,101575.0,1321,2023-03-07,Online,Target,Travel,4987.09,PayPal,Approved,Robertberg,2023,3,7,4737.7355,High,2023-03-07
1658,101658.0,3031,2023-03-11,Online,Apple Store,Clothing,4980.56,UPI,Approved,Jonathanview,2023,3,11,4731.5320,High,2023-03-11
1692,101692.0,3553,2023-03-12,Online,Target,Travel,4932.13,Debit Card,Pending,Browningburgh,2023,3,12,4685.5235,High,2023-03-12
1715,101715.0,3947,2023-03-13,Online,Uber,Entertainment,4936.23,PayPal,Approved,Port Davidmouth,2023,3,13,4689.4185,High,2023-03-13
1725,101725.0,1835,2023-03-13,Online,Apple Store,Travel,4914.51,Credit Card,Approved,Christopherchester,2023,3,13,4668.7845,High,2023-03-13
2401,102401.0,2942,2023-04-11,Online,Netflix,Dining,4982.44,PayPal,Pending,Jamesburgh,2023,4,11,4733.3180,High,2023-04-11
2693,102693.0,4035,2023-04-23,Online,Walmart,Travel,4944.50,Credit Card,Pending,Parkerborough,2023,4,23,4697.2750,High,2023-04-23
2726,102726.0,4281,2023-04-24,Online,Uber,Groceries,4959.17,Credit Card,Approved,Darlenefurt,2023,4,24,4711.2115,High,2023-04-24
2747,102747.0,1307,2023-04-25,Online,Apple Store,Entertainment,4901.09,PayPal,Approved,Skinnermouth,2023,4,25,4656.0355,High,2023-04-25
3467,103467.0,1323,2023-05-25,Online,Amazon,Clothing,4944.29,PayPal,Approved,Bensonport,2023,5,25,4697.0755,High,2023-05-25
3565,103565.0,1946,2023-05-29,Online,Target,Clothing,4957.74,PayPal,Approved,South Andrewmouth,2023,5,29,4709.8530,High,2023-05-29
3690,103690.0,3506,2023-06-03,Online,Amazon,Entertainment,4922.85,Credit Card,Approved,New James,2023,6,3,4676.7075,High,2023-06-03
3940,103940.0,1052,2023-06-14,Online,Walmart,Groceries,4925.09,UPI,Approved,Lake Alicia,2023,6,14,4678.8355,High,2023-06-14
4217,104217.0,3713,2023-06-25,Online,Uber,Clothing,4992.68,Debit Card,Approved,Muellerfort,2023,6,25,4743.0460,High,2023-06-25
4478,104478.0,2072,2023-07-06,Online,Target,Electronics,4948.70,UPI,Approved,Lake Williamview,2023,7,6,4701.2650,High,2023-07-06
4520,104520.0,3224,2023-07-08,Online,Walmart,Groceries,4969.52,Credit Card,Approved,Velasquezberg,2023,7,8,4721.0440,High,2023-07-08
4681,104681.0,4842,2023-07-15,Online,BestBuy,Groceries,4985.36,Debit Card,Approved,Ruizton,2023,7,15,4736.0920,High,2023-07-15
4761,104761.0,2065,2023-07-18,Online,BestBuy,Travel,4994.28,Debit Card,Approved,East Stephenchester,2023,7,18,4744.5660,High,2023-07-18
4905,104905.0,2285,2023-07-24,Online,Netflix,Clothing,4940.87,UPI,Approved,South Kristy,2023,7,24,4693.8265,High,2023-07-24
5187,105187.0,2706,2023-08-05,Online,Netflix,Clothing,4924.01,Debit Card,Approved,South Robertport,2023,8,5,4677.8095,High,2023-08-05
5264,105264.0,3858,2023-08-08,Online,Walmart,Electronics,4967.65,Debit Card,Approved,South Deniseborough,2023,8,8,4719.2675,High,2023-08-08