In [10]:
# data type 

# type()

data = 34
print(type(data))

data = 4.5
print(type(data))

data = "hello"
print(type(data))

data = 34,56,77
print(type(data))

data = (45)
print(type(data))

data = (45,)
print(type(data))

data = (45,78,80)
print(type(data))


data = [45,66,44]
print(type(data))

data = {45,66,44}
print(type(data))


data = {"name":"joy"}
print(type(data))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [11]:
# user input 
# input()
name = input('Enter Your Name - ')
age = input("Enter Your Age - ")
height = input("Enter Your height - ")

print("Your Name is ",name)
print("your age is ",age)
print("your height is ",height)

Your Name is  Joy
your age is  23
your height is  4.5

In [ ]:
#int()
#float()
#str()

In [13]:
number1 = int(input("Enter number 1"))
number2 = int(input("Enter number 2"))

result = number1 + number2

print("this is result : ",result)

this is result :  90

In [ ]:

# -- input Section 
# 1. Enter Student Name : Ravi
# 2. Enter Roll Number : RAVI009912
# 3. Enter Class : MCA
# 4. Enter JAVA Marks : 56
# 5. Enter C++ Marks : 89
# 6. Enter Python Marks : 12
# 7. Enter Ruby Marks : 56
# 8. Enter SQL Marks : 78

# -- Output Section
# Student Name : Ravi
# Roll Number : RAVI009912
# Class : MCA
# Enter JAVA Marks : 56/100
# C++ Marks : 89/100
# Python Marks : 12/100
# Ruby Marks : 56/100
# SQL Marks : 78/100
#    total = ?
#    Per % = ?%