In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

data = [23,24,25,26,27,28]

for i in range(len(data)):
    print(f'{i} - data {data[i]}')

0 - data 23
1 - data 24
2 - data 25
3 - data 26
4 - data 27
5 - data 28

C:\Users\Admin\AppData\Local\Temp\ipykernel_12204\1553328201.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
# using pandas 
s = pd.Series(data)
print(s)

indexx = ['a','b','c','d','e','f']

s = pd.Series(data,index=indexx)
print(s)

0    23
1    24
2    25
3    26
4    27
5    28
dtype: int64
a    23
b    24
c    25
d    26
e    27
f    28
dtype: int64

In [8]:
# 2 data , row , column

data = {
    'name':['Joy','Rohan','Riya','Toy'],
    'age':[23,34,56,78],
    'city':['mumbai','goa','pune','surat']
}

i = ['a','b','c','d']
columns=['Name','Age','City']
df = pd.DataFrame(data,index=i)
print(df)

df.to_csv('output.csv')

    name  age    city
a    Joy   23  mumbai
b  Rohan   34     goa
c   Riya   56    pune
d    Toy   78   surat

In [11]:
name = ['Joy','Rohan','Riya','Toy']
df = pd.DataFrame(name,columns=['Name'])
print(df)

    Name
0    Joy
1  Rohan
2   Riya
3    Toy

In [17]:
import numpy as np

data = np.array([[21,22,23],[34,35,36]])

# print(data)

df = pd.DataFrame(data,columns=['col1','col2','col3'],index=['row1','row2'])
print(df)

      col1  col2  col3
row1    21    22    23
row2    34    35    36

In [22]:
data = pd.read_csv('c_data.csv')
print(data.head())

print('------------------------')

df = pd.DataFrame(data)
print(df)

  Province/State Country/Region       Lat       Long
0            NaN    Afghanistan  33.93911  67.709953
1            NaN        Albania  41.15330  20.168300
2            NaN        Algeria  28.03390   1.659600
3            NaN        Andorra  42.50630   1.521800
4            NaN         Angola -11.20270  17.873900
------------------------
    Province/State        Country/Region        Lat        Long
0              NaN           Afghanistan  33.939110   67.709953
1              NaN               Albania  41.153300   20.168300
2              NaN               Algeria  28.033900    1.659600
3              NaN               Andorra  42.506300    1.521800
4              NaN                Angola -11.202700   17.873900
..             ...                   ...        ...         ...
284            NaN    West Bank and Gaza  31.952200   35.233200
285            NaN  Winter Olympics 2022  39.904200  116.407400
286            NaN                 Yemen  15.552727   48.516388
287            NaN                Zambia -13.133897   27.849332
288            NaN              Zimbabwe -19.015438   29.154857

[289 rows x 4 columns]

In [23]:
# df = pd.read_excel('ts_data.xlsx' sheet_name='')
df = pd.read_excel('ts_data.xlsx')
print(df)

    Province/State        Country/Region        Lat        Long  1/22/20  \
0              NaN           Afghanistan  33.939110   67.709953        0
1              NaN               Albania  41.153300   20.168300        0
2              NaN               Algeria  28.033900    1.659600        0
3              NaN               Andorra  42.506300    1.521800        0
4              NaN                Angola -11.202700   17.873900        0
..             ...                   ...        ...         ...      ...
284            NaN    West Bank and Gaza  31.952200   35.233200        0
285            NaN  Winter Olympics 2022  39.904200  116.407400        0
286            NaN                 Yemen  15.552727   48.516388        0
287            NaN                Zambia -13.133897   27.849332        0
288            NaN              Zimbabwe -19.015438   29.154857        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  2/28/23  \
0          0        0        0        0        0  ...   209322
1          0        0        0        0        0  ...   334391
2          0        0        0        0        0  ...   271441
3          0        0        0        0        0  ...    47866
4          0        0        0        0        0  ...   105255
..       ...      ...      ...      ...      ...  ...      ...
284        0        0        0        0        0  ...   703228
285        0        0        0        0        0  ...      535
286        0        0        0        0        0  ...    11945
287        0        0        0        0        0  ...   343012
288        0        0        0        0        0  ...   263921

     2023-01-03 00:00:00  2023-02-03 00:00:00  2023-03-03 00:00:00  \
0                 209340               209358               209362
1                 334408               334408               334427
2                 271448               271463               271469
3                  47875                47875                47875
4                 105277               105277               105277
..                   ...                  ...                  ...
284               703228               703228               703228
285                  535                  535                  535
286                11945                11945                11945
287               343012               343079               343079
288               264127               264127               264127

     2023-04-03 00:00:00  2023-05-03 00:00:00  2023-06-03 00:00:00  \
0                 209369               209390               209406
1                 334427               334427               334427
2                 271469               271477               271477
3                  47875                47875                47875
4                 105277               105277               105277
..                   ...                  ...                  ...
284               703228               703228               703228
285                  535                  535                  535
286                11945                11945                11945
287               343079               343135               343135
288               264127               264127               264127

     2023-07-03 00:00:00  2023-08-03 00:00:00  2023-09-03 00:00:00
0                 209436               209451               209451
1                 334427               334443               334457
2                 271490               271494               271496
3                  47875                47890                47890
4                 105277               105288               105288
..                   ...                  ...                  ...
284               703228               703228               703228
285                  535                  535                  535
286                11945                11945                11945
287               343135               343135               343135
288               264127               264276               264276

[289 rows x 1147 columns]

In [25]:
data = pd.read_csv('c_data.csv')
print(data.head())

print('------------------------')

df = pd.DataFrame(data)
print(df)

df.to_excel('new_update.xlsx',index= False)

  Province/State Country/Region       Lat       Long
0            NaN    Afghanistan  33.93911  67.709953
1            NaN        Albania  41.15330  20.168300
2            NaN        Algeria  28.03390   1.659600
3            NaN        Andorra  42.50630   1.521800
4            NaN         Angola -11.20270  17.873900
------------------------
    Province/State        Country/Region        Lat        Long
0              NaN           Afghanistan  33.939110   67.709953
1              NaN               Albania  41.153300   20.168300
2              NaN               Algeria  28.033900    1.659600
3              NaN               Andorra  42.506300    1.521800
4              NaN                Angola -11.202700   17.873900
..             ...                   ...        ...         ...
284            NaN    West Bank and Gaza  31.952200   35.233200
285            NaN  Winter Olympics 2022  39.904200  116.407400
286            NaN                 Yemen  15.552727   48.516388
287            NaN                Zambia -13.133897   27.849332
288            NaN              Zimbabwe -19.015438   29.154857

[289 rows x 4 columns]

In [26]:
print(df.dtypes)

Province/State     object
Country/Region     object
Lat               float64
Long              float64
dtype: object

In [28]:
df.fillna(0,inplace=True)

print(df.head())

  Province/State Country/Region       Lat       Long
0              0    Afghanistan  33.93911  67.709953
1              0        Albania  41.15330  20.168300
2              0        Algeria  28.03390   1.659600
3              0        Andorra  42.50630   1.521800
4              0         Angola -11.20270  17.873900

In [29]:
df.dropna(inplace=True)
print(df.head())

  Province/State Country/Region       Lat       Long
0              0    Afghanistan  33.93911  67.709953
1              0        Albania  41.15330  20.168300
2              0        Algeria  28.03390   1.659600
3              0        Andorra  42.50630   1.521800
4              0         Angola -11.20270  17.873900

In [36]:
data = {
    'name':['Joy','Rohan','Riya','Toy'],
    'age':[23,34,56,78],
    'city':['mumbai','goa','pune','surat']
}

i = ['a','b','c','d']
df = pd.DataFrame(data,index=i)
print(df)

# loc = labels 

print(df.loc['a','name'])

# iloc = index

print(df.iloc[2,2])

    name  age    city
a    Joy   23  mumbai
b  Rohan   34     goa
c   Riya   56    pune
d    Toy   78   surat
Joy
pune

In [39]:
print(df[['name','age']])

    name  age
a    Joy   23
b  Rohan   34
c   Riya   56
d    Toy   78

In [40]:
print(df[df['age']>40])

   name  age   city
c  Riya   56   pune
d   Toy   78  surat

In [41]:
print(df[df['name'] == "Rohan"])

    name  age city
b  Rohan   34  goa

In [42]:
df['Salary'] = [5000,5000,4500,6500]

print(df)

    name  age    city  Salary
a    Joy   23  mumbai    5000
b  Rohan   34     goa    5000
c   Riya   56    pune    4500
d    Toy   78   surat    6500

In [74]:
data1 = df[df['Salary'] == 5000]
data2 = df[df['Salary'] > 5000]


print(df[(df['Salary'] == 5000) & (df['city'] == "mumbai")])

  name  age    city  Salary
a  Joy   23  mumbai    5000