In [9]:
print("welcome") # function 

print(sum([12,23,34,55]))
print(min([12,23,34,55]))

print(range(10))  # range function

print(max([12,23,34,55]))

welcome
124
12
range(0, 10)
55

In [ ]:
# functions
# basic functions in python

# def function_name():
#     output

In [12]:
# basic functions in python

def info():
    print("This is a function that prints information.")

# calling the function
info()   
info()

This is a function that prints information.
This is a function that prints information.

In [13]:
# function with parameters(arguments) # input into function

def addition(a, b):
    result = a + b
    print(result)

In [15]:
# call function 
addition(12,34)
addition(23,800)

46
823

In [16]:
def bill(price,tax):
    gst_amount = price*tax/100
    final_price = gst_amount + price
    print("Price = ₹",price,"/-")
    print("Tax = ",tax,"%")
    print("GST Amount = ₹",gst_amount,"/-")
    print("MRP = ₹",final_price,"/-")
    print("-------------------------")

In [17]:
bill(4500,18)
bill(1200,2)
bill(7000,9)

Price = ₹ 4500 /-
Tax =  18 %
GST Amount = ₹ 810.0 /-
MRP = ₹ 5310.0 /-
-------------------------
Price = ₹ 1200 /-
Tax =  2 %
GST Amount = ₹ 24.0 /-
MRP = ₹ 1224.0 /-
-------------------------
Price = ₹ 7000 /-
Tax =  9 %
GST Amount = ₹ 630.0 /-
MRP = ₹ 7630.0 /-
-------------------------

In [18]:
x = 100
print(x)

100

In [20]:
def get_number():
    return 400

print(get_number())

400

In [ ]:
# function with parameters(arguments) with return type

In [21]:
def add(number1,number2):
    return number1+number2

In [22]:
number = add(12,34)

print(number*23)

1058

## Home Loan EMI Calculator

```yaml
-- Input Section 
Loan Amount : =
₹ 74,51,512
Tenure (Years) := 
15
Interest Rate (% P.A.) =
5.19%

-- output Section
Monthly Home Loan EMI
₹59,666
View Details
Principal Amount
₹74,51,512
Interest Amount
₹32,88,408
Total Amount Payable
₹1,07,39,920
```
https://www.hdfc.com/home-loan-emi-calculator