In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pankajchouhan/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/pankajchouhan/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

data = {
    'Name':['Rahul','Rohan','Tiya','Riya','Diana','Joy','Nishant','Heena','Deep'],
    'Age' :[23,34,45,67,23,24,12,50,22],
    'city':['tokya','Paris','Mumbai','Surat','Bhuj','Jaipur','Pune','Pune','Mumbai']
}

df = pd.DataFrame(data)
print(df)

      Name  Age    city
0    Rahul   23   tokya
1    Rohan   34   Paris
2     Tiya   45  Mumbai
3     Riya   67   Surat
4    Diana   23    Bhuj
5      Joy   24  Jaipur
6  Nishant   12    Pune
7    Heena   50    Pune
8     Deep   22  Mumbai

In [3]:
data = [
    ['Rahul',23 ,'tokya'],
    ['joy',12,'Jaipur'],
    ['Nishant',34,'Mumbai']
]

col = ['Name','Age','City']

df = pd.DataFrame(data,columns=col)
print(df)

      Name  Age    City
0    Rahul   23   tokya
1      joy   12  Jaipur
2  Nishant   34  Mumbai

In [4]:
# https://raw.githubusercontent.com/Pankaj-Str/Complete-Python-Mastery/refs/heads/main/53%20DataSet/credit_card_transactions.csv

data = pd.read_csv("credit_card_transactions.csv")
# data = pd.read_csv("https://raw.githubusercontent.com/Pankaj-Str/Complete-Python-Mastery/refs/heads/main/53%20DataSet/ecommerce_data.csv")

print(data.head(7))

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon
5          100005         4096       2023-01-01              ATM     Uber
6          100006         1587       2023-01-01           Online  Netflix

        Category   Amount Payment_Mode Transaction_Status            Location
0         Travel  4520.70   Debit Card           Approved           Jonesport
1         Travel  1437.85   Debit Card           Approved       Port Jennifer
2       Clothing  3320.52       PayPal           Approved          Port James
3         Travel  2659.96   Debit Card           Approved          Hawkinston
4         Travel  2517.07   Debit Card           Approved         Matthewland
5      Groceries  2032.91          UPI           Approved  West Patriciamouth
6  Entertainment  2309.06   Debit Card           Approved           Scottport

In [5]:
# df = pd.read_excel('data.xlsx')
# df = pd.read_json('data.json')

In [6]:
# print 5 rows of the dataframe
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location
0    Travel  4520.70   Debit Card           Approved      Jonesport
1    Travel  1437.85   Debit Card           Approved  Port Jennifer
2  Clothing  3320.52       PayPal           Approved     Port James
3    Travel  2659.96   Debit Card           Approved     Hawkinston
4    Travel  2517.07   Debit Card           Approved    Matthewland

In [7]:
# print last 5 rows of the dataframe
print(data.tail())

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
5495          105495         3262       2023-08-17              ATM
5496          105496         1234       2023-08-18              POS
5497          105497         3978       2023-08-18           Online
5498          105498         3082       2023-08-18              ATM
5499          105499         2271       2023-08-18   Mobile Payment

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
5495  Apple Store         Travel  4554.82   Debit Card           Approved
5496         Uber         Travel  4118.51   Debit Card           Approved
5497  Apple Store       Clothing  2981.13          UPI           Approved
5498         Uber       Clothing  2168.39   Debit Card           Approved
5499      Netflix  Entertainment  1918.66          UPI           Approved

               Location
5495   South Hannahtown
5496     South Courtney
5497           Rubenton
5498     East Brianfurt
5499  New Stephaniebury

In [8]:
# check data types of each column
print(data.dtypes)

Transaction_ID          int64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [9]:
# check information about the dataframe
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction_ID      5500 non-null   int64
 1   Customer_ID         5500 non-null   int64
 2   Transaction_Date    5500 non-null   object
 3   Transaction_Type    5500 non-null   object
 4   Merchant            5500 non-null   object
 5   Category            5500 non-null   object
 6   Amount              5500 non-null   float64
 7   Payment_Mode        5500 non-null   object
 8   Transaction_Status  5500 non-null   object
 9   Location            5500 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 429.8+ KB
None

In [10]:
# describe the dataframe
print(data.describe())

       Transaction_ID  Customer_ID       Amount
count     5500.000000  5500.000000  5500.000000
mean    102749.500000  2989.954182  2492.109224
std       1587.857571  1153.928878  1444.493842
min     100000.000000  1000.000000     6.550000
25%     101374.750000  1988.000000  1236.935000
50%     102749.500000  3000.000000  2502.405000
75%     104124.250000  3990.000000  3767.957500
max     105499.000000  4998.000000  4997.490000

In [11]:
# shape of the dataframe
print(data.shape)

(5500, 10)

In [12]:
# print column names
print(data.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type',
       'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status',
       'Location'],
      dtype='object')

In [13]:
data_columns = data.columns.tolist()
# print(data_columns)

for i in data_columns:
    print(i)

Transaction_ID
Customer_ID
Transaction_Date
Transaction_Type
Merchant
Category
Amount
Payment_Mode
Transaction_Status
Location

In [14]:
# indexes of the dataframe
print(data.index)

RangeIndex(start=0, stop=5500, step=1)

In [15]:
# selecting data from dataframe
print(data['Amount'])

0       4520.70
1       1437.85
2       3320.52
3       2659.96
4       2517.07
         ...
5495    4554.82
5496    4118.51
5497    2981.13
5498    2168.39
5499    1918.66
Name: Amount, Length: 5500, dtype: float64

In [16]:
col2 = ['Amount','Location']
print(data[col2])

       Amount           Location
0     4520.70          Jonesport
1     1437.85      Port Jennifer
2     3320.52         Port James
3     2659.96         Hawkinston
4     2517.07        Matthewland
...       ...                ...
5495  4554.82   South Hannahtown
5496  4118.51     South Courtney
5497  2981.13           Rubenton
5498  2168.39     East Brianfurt
5499  1918.66  New Stephaniebury

[5500 rows x 2 columns]

In [17]:
# row by index
print(data.iloc[2])

Transaction_ID                100002
Customer_ID                     2259
Transaction_Date          2023-01-01
Transaction_Type      Mobile Payment
Merchant                        Uber
Category                    Clothing
Amount                       3320.52
Payment_Mode                  PayPal
Transaction_Status          Approved
Location                  Port James
Name: 2, dtype: object

In [18]:
# select row 100 to 110
print(data.iloc[100:111])

     Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
100          100100         1145       2023-01-05   Mobile Payment
101          100101         3025       2023-01-05           Online
102          100102         1522       2023-01-05   Mobile Payment
103          100103         2210       2023-01-05              ATM
104          100104         4100       2023-01-05              ATM
105          100105         3849       2023-01-05   Mobile Payment
106          100106         2753       2023-01-05              POS
107          100107         3847       2023-01-05              POS
108          100108         1638       2023-01-05              ATM
109          100109         3890       2023-01-05           Online
110          100110         1894       2023-01-05           Online

        Merchant       Category   Amount Payment_Mode Transaction_Status  \
100         Uber      Groceries  1277.06       PayPal           Declined
101       Target       Clothing   395.01       PayPal           Approved
102      BestBuy       Clothing  1875.28   Debit Card           Approved
103  Apple Store         Travel  2451.38       PayPal           Approved
104      Walmart         Dining   149.46       PayPal           Declined
105      Walmart  Entertainment  3571.00   Debit Card           Approved
106       Target    Electronics  1643.06   Debit Card           Approved
107  Apple Store       Clothing   155.60       PayPal           Approved
108         Uber       Clothing  1326.21          UPI           Approved
109      Netflix      Groceries   987.94       PayPal           Approved
110  Apple Store         Travel  1284.68  Credit Card           Approved

                  Location
100       Christophermouth
101            Robertmouth
102  East Christopherburgh
103           Michaelmouth
104            Justinshire
105        Port Stevenside
106               Jamieton
107             Blairmouth
108            Rosarioport
109            Lake Dennis
110             West Tyler

In [19]:
print(data.iloc[:,3])

0               Online
1                  ATM
2       Mobile Payment
3               Online
4                  ATM
             ...
5495               ATM
5496               POS
5497            Online
5498               ATM
5499    Mobile Payment
Name: Transaction_Type, Length: 5500, dtype: object

In [20]:
# row by label
print(data.loc[5])

Transaction_ID                    100005
Customer_ID                         4096
Transaction_Date              2023-01-01
Transaction_Type                     ATM
Merchant                            Uber
Category                       Groceries
Amount                           2032.91
Payment_Mode                         UPI
Transaction_Status              Approved
Location              West Patriciamouth
Name: 5, dtype: object

In [21]:
# row 0 - 10 and columns 'Amount' and 'Location'
print(data.loc[0:10, ['Amount','Location']])

     Amount            Location
0   4520.70           Jonesport
1   1437.85       Port Jennifer
2   3320.52          Port James
3   2659.96          Hawkinston
4   2517.07         Matthewland
5   2032.91  West Patriciamouth
6   2309.06           Scottport
7    334.82            Shawview
8    374.29        Port Lindsay
9   1117.12      Lake Steveport
10  1908.74         Ginachester

In [22]:
# conditional selection

# print rows where Amount > 4000

print(data[data['Amount'] > 4000])

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0             100000         4452       2023-01-01           Online
11            100011         4816       2023-01-01   Mobile Payment
20            100020         1337       2023-01-01              POS
22            100022         3057       2023-01-01           Online
24            100024         2551       2023-01-02              ATM
...              ...          ...              ...              ...
5465          105465         3262       2023-08-16   Mobile Payment
5481          105481         1685       2023-08-17   Mobile Payment
5491          105491         3258       2023-08-17   Mobile Payment
5495          105495         3262       2023-08-17              ATM
5496          105496         1234       2023-08-18              POS

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
0         Walmart         Travel  4520.70   Debit Card           Approved
11        Netflix      Groceries  4530.51       PayPal           Approved
20           Uber         Dining  4684.13       PayPal           Approved
22        BestBuy      Groceries  4094.49       PayPal           Approved
24           Uber      Groceries  4013.36   Debit Card           Approved
...           ...            ...      ...          ...                ...
5465      BestBuy      Groceries  4069.02  Credit Card           Approved
5481      Netflix  Entertainment  4518.16  Credit Card           Approved
5491      Netflix      Groceries  4860.84   Debit Card           Approved
5495  Apple Store         Travel  4554.82   Debit Card           Approved
5496         Uber         Travel  4118.51   Debit Card           Approved

              Location
0            Jonesport
11        Petersonbury
20       Nicholsonside
22        West Kenneth
24        Timothyville
...                ...
5465         Arnoldton
5481     West Judystad
5491        West James
5495  South Hannahtown
5496    South Courtney

[1110 rows x 10 columns]

In [23]:
# print row amount > 4000 with  transaction type 'Online'
new_record = data[(data['Amount'] > 4000) & (data['Transaction_Type'] == 'Online')]
# export new_record to csv
new_record.to_csv('new_record.csv', index=False)

In [24]:
# adding and modifying columns

data = {
    'Name':['Rahul','Rohan','Tiya','Riya','Diana','Joy','Nishant','Heena','Deep'],
    'Age' :[23,34,45,67,23,24,12,50,22],
    'city':['tokya','Paris','Mumbai','Surat','Bhuj','Jaipur','Pune','Pune','Mumbai']
}

df = pd.DataFrame(data)
print(df)

      Name  Age    city
0    Rahul   23   tokya
1    Rohan   34   Paris
2     Tiya   45  Mumbai
3     Riya   67   Surat
4    Diana   23    Bhuj
5      Joy   24  Jaipur
6  Nishant   12    Pune
7    Heena   50    Pune
8     Deep   22  Mumbai

In [25]:
# add new column salary 

df['Salary'] = [50000,60000,55000,70000,65000,48000,72000,80000,62000]
print(df)

      Name  Age    city  Salary
0    Rahul   23   tokya   50000
1    Rohan   34   Paris   60000
2     Tiya   45  Mumbai   55000
3     Riya   67   Surat   70000
4    Diana   23    Bhuj   65000
5      Joy   24  Jaipur   48000
6  Nishant   12    Pune   72000
7    Heena   50    Pune   80000
8     Deep   22  Mumbai   62000