In [1]:
def Info():
    print("Welcome to codeswithpankaj")

In [3]:
# call the function 
Info()
Info()

Welcome to codeswithpankaj
Welcome to codeswithpankaj

In [4]:
# # arg..
# def FunctionName(var1,var2....): # parameters
#     ---- Output

def add(number1,number2):
    result = number1 + number2
    print('This is result : ',result)

In [6]:
add(12,56)
add(89,90)

This is result :  68
This is result :  179

In [14]:
# example 

def bill(price,discount=2,tax_rate=2):
    Subtotal_after_discount = price - discount
    tax = Subtotal_after_discount * tax_rate/100
    total = Subtotal_after_discount + tax
    print(f'--------------------------------')
    print(f'Price = {price}/-')
    print(f'tax rate = {tax_rate}%')
    print(f'Tax amount = {tax}/-')
    print(f'SubTotal after discount = {Subtotal_after_discount}/-')
    print(f'total = {total}/-')

In [15]:
bill(4500,2,18)
bill(90000,12)
bill(7600)
bill(2000,10,12)

--------------------------------
Price = 4500/-
tax rate = 18%
Tax amount = 809.64/-
SubTotal after discount = 4498/-
total = 5307.64/-
--------------------------------
Price = 90000/-
tax rate = 2%
Tax amount = 1799.76/-
SubTotal after discount = 89988/-
total = 91787.76/-
--------------------------------
Price = 7600/-
tax rate = 2%
Tax amount = 151.96/-
SubTotal after discount = 7598/-
total = 7749.96/-
--------------------------------
Price = 2000/-
tax rate = 12%
Tax amount = 238.8/-
SubTotal after discount = 1990/-
total = 2228.8/-

In [19]:
def get_number():
    return 100*23

In [21]:
print('this is number = ',get_number()+90)

this is number =  2390

In [22]:
def adds(number1,number2):
    result = number1 + number2
    return result

In [24]:
number = adds(23,56)
print('this is result : - ',number*45)

this is result : -  3555

In [25]:
# lambda functions
# lambda arguments : expression

square = lambda number : number * number

In [26]:
print(square(7))

49

In [27]:
add = lambda a, b : a + b

In [28]:
print(add(80,90))

170