In [ ]:
# variable -length agruments

# 2 types
# *args (non-keyword arguments)
# **kwargs (keyword arguments)

# *args (non-keyword arguments)

def add_numbers(*args):
    total = 0
    for num in args:
        total += num
    print("Sum : ",total)

In [3]:
add_numbers(56,80,45)
add_numbers(56,80,45,2,3,56,78,90,100)

Sum :  181
Sum :  510

In [4]:
# **kwargs (keyword arguments)
# key = values

# example : 

def display_info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key} : {value}")

In [5]:
display_info(name = "joy",age=32,course="Python")

name : joy
age : 32
course : Python

In [11]:
# combining *args and **kwargs

# (normal,default,*args,**kwargs)

def show_details(id , course = "Python", *args,**kwargs):
    print(f"ID : {id}" )
    print(f"Course : {course}" )
    print(f"Args : {args}")
    print(f"kwargs : {kwargs}")

In [12]:
show_details(101,"Python","machine learning",name="joy",level="Beginner")

ID : 101
Course : Python
Args : ('machine learning',)
kwargs : {'name': 'joy', 'level': 'Beginner'}

In [13]:
def order_summary(*item , **details):
    print("Order items : ",item)
    print("Order Details : ",details)

In [14]:
order_summary("pizza","Burger",name="joy",address="delhi",payment="UPI")

Order items :  ('pizza', 'Burger')
Order Details :  {'name': 'joy', 'address': 'delhi', 'payment': 'UPI'}

In [ ]:
# * for iterables 
# ** for dictionaries

In [15]:
# map() -> each item in an iterable (like a list)

# map(function, iterable)

def square(num):
    return num**2

In [16]:
# normal way 
square(23)

529

In [20]:
# using map if use (list)

numbers = [23,230,24,25,26,27,28,19]
result = map(square,numbers)
print(list(result))

[529, 52900, 576, 625, 676, 729, 784, 361]

In [21]:
# using lambda with map
numbers = [23,230,24,25,26,27,28,19]
result = map(lambda x : x**2,numbers)
print(list(result))

[529, 52900, 576, 625, 676, 729, 784, 361]

In [22]:
# map()
text = "codeswithpankaj"
result = map(str.upper,text)
print(list(result))

['C', 'O', 'D', 'E', 'S', 'W', 'I', 'T', 'H', 'P', 'A', 'N', 'K', 'A', 'J']

In [23]:
names = ["nishant","joy","nisha"]
result = map(str.upper,names)
print(list(result))

['NISHANT', 'JOY', 'NISHA']

In [31]:
students = ["nishant","joy","nisha"]
result = map(lambda name:"Mr./Ms."+name,students)
print(list(result))

['Mr./Ms.nishant', 'Mr./Ms.joy', 'Mr./Ms.nisha']

In [ ]:
# filter() function iterable based on a condition T/F

# filter(function,iterable)

In [32]:
# example 

def is_even(num):
    return num% 2 == 0

In [35]:
number = [1,2,3,4,5,6,7,8,9,10]
result = filter(is_even,number)
print(list(result))

[2, 4, 6, 8, 10]

In [36]:
# lambda
number = [10,20,30,40,50,6,7,8,9,100]
result = filter(lambda x : x > 20,number)
print(list(result))

[30, 40, 50, 100]

In [ ]:
# reduce() function -> single value
from functools import reduce
# reduce(function , interable)

In [41]:
# sum of number 
number = [12,13,14,15,16]
result = reduce(lambda x ,y: x+y,number)

print(result)

70

In [ ]:
# https://github.com/Pankaj-Str/Complete-Python-Mastery/issues/19