In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pankajchouhan/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/pankajchouhan/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

data = {
    'Name':['Rahul','Rohan','Tiya','Riya','Diana','Joy','Nishant','Heena','Deep'],
    'Age' :[23,34,45,67,23,24,12,50,22],
    'city':['tokya','Paris','Mumbai','Surat','Bhuj','Jaipur','Pune','Pune','Mumbai']
}

df = pd.DataFrame(data)
print(df)

      Name  Age    city
0    Rahul   23   tokya
1    Rohan   34   Paris
2     Tiya   45  Mumbai
3     Riya   67   Surat
4    Diana   23    Bhuj
5      Joy   24  Jaipur
6  Nishant   12    Pune
7    Heena   50    Pune
8     Deep   22  Mumbai

In [9]:
data = [
    ['Rahul',23 ,'tokya'],
    ['joy',12,'Jaipur'],
    ['Nishant',34,'Mumbai']
]

col = ['Name','Age','City']

df = pd.DataFrame(data,columns=col)
print(df)

      Name  Age    City
0    Rahul   23   tokya
1      joy   12  Jaipur
2  Nishant   34  Mumbai

In [18]:
# https://raw.githubusercontent.com/Pankaj-Str/Complete-Python-Mastery/refs/heads/main/53%20DataSet/credit_card_transactions.csv

data = pd.read_csv("credit_card_transactions.csv")
# data = pd.read_csv("https://raw.githubusercontent.com/Pankaj-Str/Complete-Python-Mastery/refs/heads/main/53%20DataSet/ecommerce_data.csv")

print(data.head(7))

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon
5          100005         4096       2023-01-01              ATM     Uber
6          100006         1587       2023-01-01           Online  Netflix

        Category   Amount Payment_Mode Transaction_Status            Location
0         Travel  4520.70   Debit Card           Approved           Jonesport
1         Travel  1437.85   Debit Card           Approved       Port Jennifer
2       Clothing  3320.52       PayPal           Approved          Port James
3         Travel  2659.96   Debit Card           Approved          Hawkinston
4         Travel  2517.07   Debit Card           Approved         Matthewland
5      Groceries  2032.91          UPI           Approved  West Patriciamouth
6  Entertainment  2309.06   Debit Card           Approved           Scottport