In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pankajchouhan/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/pankajchouhan/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

data = {
    'Name':['Rahul','Rohan','Tiya','Riya','Diana','Joy','Nishant','Heena','Deep'],
    'Age' :[23,34,45,67,23,24,12,50,22],
    'city':['tokya','Paris','Mumbai','Surat','Bhuj','Jaipur','Pune','Pune','Mumbai']
}

df = pd.DataFrame(data)
print(df)

      Name  Age    city
0    Rahul   23   tokya
1    Rohan   34   Paris
2     Tiya   45  Mumbai
3     Riya   67   Surat
4    Diana   23    Bhuj
5      Joy   24  Jaipur
6  Nishant   12    Pune
7    Heena   50    Pune
8     Deep   22  Mumbai

In [9]:
data = [
    ['Rahul',23 ,'tokya'],
    ['joy',12,'Jaipur'],
    ['Nishant',34,'Mumbai']
]

col = ['Name','Age','City']

df = pd.DataFrame(data,columns=col)
print(df)

      Name  Age    City
0    Rahul   23   tokya
1      joy   12  Jaipur
2  Nishant   34  Mumbai