In [1]:
# dict 

data = {}
print(type(data))

<class 'dict'>

In [2]:
data = {'name':'joy','age':21,'height':5.6}

print(data)

{'name': 'joy', 'age': 21, 'height': 5.6}

In [3]:
# get values 
print(data['name'])

joy

In [4]:
# update record 

data['age'] = 34
print(data)

{'name': 'joy', 'age': 34, 'height': 5.6}

In [5]:
# add new item into 

data['city'] = 'mumbai'
print(data)

{'name': 'joy', 'age': 34, 'height': 5.6, 'city': 'mumbai'}

In [6]:
# values()

print(data.values())

dict_values(['joy', 34, 5.6, 'mumbai'])

In [7]:
# keys()
print(data.keys())

dict_keys(['name', 'age', 'height', 'city'])

In [8]:
# items()
print(data.items())

dict_items([('name', 'joy'), ('age', 34), ('height', 5.6), ('city', 'mumbai')])

In [9]:
# get()
print(data.get('age'))

34

In [10]:
data.pop('age')
print(data)

{'name': 'joy', 'height': 5.6, 'city': 'mumbai'}

In [12]:
for i in data:
    print(i,' = ',data[i])

name  =  joy
height  =  5.6
city  =  mumbai