In [ ]:
import pandas as pd 

# create a  table 1 

students = pd.DataFrame({
    'student_id': [1, 2, 3, 4],
    'name':['Nishant', 'Aarav', 'Diya', 'Rohan'],
    'age':[20, 21, 19, 22]
})

print(students)

In [ ]:
# create a table 2
scores = pd.DataFrame({
    'student_id': [1, 2, 3,7],
    'maths':[85, 90, 78,90],
    'science':[88, 76, 95,80]
})

print(scores)

In [ ]:
# merge the two tables on student_id
# step 1: specify the dataframes to merge

merged_data = pd.merge(students, scores, on='student_id')
print('\n marge table inner join \n')
print(merged_data)

In [ ]:
# 1 left join
left_joined_data = pd.merge(students, scores, on='student_id', how='left')
print('\n left join \n')
print(left_joined_data)

In [ ]:
# 2 right join
right_joined_data = pd.merge(students, scores, on='student_id', how='right')
print('\n right join \n')
print(right_joined_data)

In [ ]:
# outer join  print all data 
outer_joined_data = pd.merge(students, scores, on='student_id', how='outer')
print('\n right join \n')
print(outer_joined_data)

In [ ]:
# example different column name
# create a  table 3
teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3],
    'name':['Mr. Sharma', 'Ms. Gupta', 'Mrs. Singh'],
    'subject':['Maths', 'Science', 'English']
})

print(teachers)

In [ ]:
# left join on different column names
left_joined_diff_col = pd.merge(students, teachers, left_on='name', right_on='name', how='left')
print('\n left join on different column names \n')
print(left_joined_diff_col)