In [1]:
# print()
print('welcome')
print("welcome")

print('"welcome"')
print("'welcome'")

print(7456)

print('my number is : ',97576)

welcome
welcome
"welcome"
'welcome'
7456
my number is :  97576

In [2]:
# variable 

x = 10
print(x)
x = 20
print(x)

a , b = 45 , 56

print(a)
print(b)

10
20
45
56

In [3]:
name = "joy"
height = 4.5
age = 45

print('your name is : ',name)
print('your age is : ',age)
print('your height is : ',height)

your name is :  joy
your age is :  45
your height is :  4.5

In [4]:
# type()
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
data = 23
print(type(data))
data = 2.3
print(type(data))
data = "joy"
print(type(data))

data = [23,4,4,4]
print(type(data))

data = 23,56
print(type(data))

data = 23,
print(type(data))

data = (23,56)
print(type(data))

data = (23)
print(type(data))

data = (23,)
print(type(data))

data = {23,56}
print(type(data))

data = {'name':'joy'}
print(type(data))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [6]:
# input()
name = input('Enter Your Name')
height = input('Enter Your Height')
age = input('Enter Your age')

print('your name is : ',name)
print('your age is : ',age)
print('your height is : ',height)

your name is :  joy
your age is :  23
your height is :  5.6

In [7]:
print(type(age))
print(type(height))
print(type(name))

<class 'str'>
<class 'str'>
<class 'str'>

In [14]:
# int()
# float()
# str()
name = str(input('Enter Your Name'))
height = float(input('Enter Your Height'))
age = int(input('Enter Your age'))
main_age = age - 10
print('your name is : ',name)
print('your age is : ',main_age)
print('your height is : ',height)

your name is :  joy
your age is :  13
your height is :  3.4

In [15]:
print(type(age))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

In [11]:
x = 10 
y = 20
x = y
y = 30
z = 2
z = a
z = y
a = z
print(z + x)

50

In [12]:
a = 10 
b = 30
c = a = b = 0
d = 10
c = 2
c = a = b = d = 1
a = 5 
print(a+b+c+d)

8

In [13]:
a , b , c , d = 10,20,10,40
a = b = c = d
d = a + b + c
a , b , c = b , d , c
print(a+b)

160