In [ ]:
# Introduction to Operators
# Arithmetic Operators
# Comparison Operators
# Logical Operators
# Assignment Operators
# Identity Operators
# Membership Operators

In [8]:
# Arithmetic Operators
print(100+900)
print(200-23)
print(23*3)
print(23/3)
print(23//3)
print(23**2)
print(23%2)

1000
177
69
7.666666666666667
7
529
1

In [16]:
# Comparison Operators
print(23<34)
print(23>34)
print(23==34)
print(23!=34)

print(85<=90)
print(85>=90)

True
False
False
True
True
False

In [21]:
# Logical Operators
#and
print(23 > 45 and 56 == 56)
# or 
print(23 > 45 or 56 == 56)

# not 
print(not 45 == 45)
print(45 != 45)

False
True
False
False

In [27]:
# Assignment Operators

x = 10
print(x)

#x = x + 10
x +=10
print(x)

x -=10
print(x)

x *=10
print(x)

x /=10
print(x)

10
20
10
100
10.0

In [33]:
# Identity Operators
# is 
# is not
x = 10
y = 10
print(x is y)
print(x is not y)

True
False

In [35]:
# Membership Operators

data = "codeswithpankaj.com"

print("m" in data)
print("m" not in data)

True
False