In [1]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
# https://archive.ics.uci.edu/static/public/10/data.csv

In [2]:
# column Name - 
# normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,symboling

In [3]:
import pandas as pd

# column name - 
columns = [
    "symboling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size","fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","price"
    
]

# load url 
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(url,names=columns,na_values="?",sep=",",skipinitialspace=True,engine='python')

#df.to_csv("auto_mobile.csv")

In [4]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price
3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 3 to -1
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          164 non-null    float64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         203 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    float64
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    int64
 13  curb-weight        205 non-null    object
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    object
 17  fuel-system        201 non-null    float64
 18  bore               201 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  203 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           205 non-null    int64
 23  city-mpg           205 non-null    int64
 24  price              201 non-null    float64
dtypes: float64(11), int64(4), object(10)
memory usage: 41.6+ KB

In [6]:
df.describe()

,symboling,engine-location,wheel-base,length,width,height,num-of-cylinders,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price
count,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000,201.000000
mean,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.273539,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443,7947.066342
min,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [7]:
df.isna().sum()

symboling            41
normalized-losses     0
make                  0
fuel-type             0
aspiration            2
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           4
bore                  4
stroke                0
compression-ratio     2
horsepower            2
peak-rpm              0
city-mpg              0
price                 4
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 3 to -1
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          164 non-null    float64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         203 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    float64
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    int64
 13  curb-weight        205 non-null    object
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    object
 17  fuel-system        201 non-null    float64
 18  bore               201 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  203 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           205 non-null    int64
 23  city-mpg           205 non-null    int64
 24  price              201 non-null    float64
dtypes: float64(11), int64(4), object(10)
memory usage: 41.6+ KB

In [9]:
data_unique = ['make','fuel-type','aspiration','num-of-doors','bore','body-style','drive-wheels','engine-location','num-of-cylinders','fuel-system']
for col in data_unique:
    print(f'{col} : {df[col].unique()}')

make : ['gas' 'diesel']
fuel-type : ['std' 'turbo']
aspiration : ['two' 'four' nan]
num-of-doors : ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
bore : [2.68 3.47 3.4  2.8  3.19 3.39 3.03 3.11 3.23 3.46 3.9  3.41 3.07 3.58
 4.17 2.76 3.15  nan 3.16 3.64 3.1  3.35 3.12 3.86 3.29 3.27 3.52 2.19
 3.21 2.9  2.07 2.36 2.64 3.08 3.5  3.54 2.87]
body-style : ['rwd' 'fwd' '4wd']
drive-wheels : ['front' 'rear']
engine-location : [ 88.6  94.5  99.8  99.4 105.8  99.5 101.2 103.5 110.   88.4  93.7 103.3
  95.9  86.6  96.5  94.3  96.  113.  102.   93.1  95.3  98.8 104.9 106.7
 115.6  96.6 120.9 112.  102.7  93.   96.3  95.1  97.2 100.4  91.3  99.2
 107.9 114.2 108.   89.5  98.4  96.1  99.1  93.3  97.   96.9  95.7 102.4
 102.9 104.5  97.3 104.3 109.1]
num-of-cylinders : [130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
fuel-system : [3.47 2.68 3.19 3.13 3.5  3.31 3.62 2.91 3.03 2.97 3.34 3.6  2.92 3.15
 3.43 3.63 3.54 3.08  nan 3.39 3.76 3.58 3.46 3.8  3.78 3.17 3.35 3.59
 2.99 3.33 3.7  3.61 3.94 3.74 2.54 3.05 3.27 3.24 3.01]

In [10]:
df.isna().sum()

symboling            41
normalized-losses     0
make                  0
fuel-type             0
aspiration            2
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           4
bore                  4
stroke                0
compression-ratio     2
horsepower            2
peak-rpm              0
city-mpg              0
price                 4
dtype: int64

In [11]:
# handling missing value 
mean_fuel_system = df['fuel-system'].mean()
df['fuel-system'].fillna(mean_fuel_system,inplace=True)
print(df['fuel-system'].head())

3    3.47
3    3.47
1    2.68
2    3.19
2    3.19
Name: fuel-system, dtype: float64

In [12]:
mean_price = df['price'].mean()
df['price'].fillna(mean_price,inplace=True)
print(df['price'].head())

3    13495.0
3    16500.0
1    16500.0
2    13950.0
2    17450.0
Name: price, dtype: float64

In [13]:
bore = df['bore'].mean()
df['bore'].fillna(bore,inplace=True)
print(df['bore'].head())

3    2.68
3    2.68
1    3.47
2    3.40
2    3.40
Name: bore, dtype: float64

In [14]:
# symboling
symboling = df['symboling'].mean()
df['symboling'].fillna(symboling,inplace=True)
print(df['symboling'].head())

3    122.0
3    122.0
1    122.0
2    164.0
2    164.0
Name: symboling, dtype: float64

In [15]:
# horsepower
horsepower = df['horsepower'].mean()
df['horsepower'].fillna(horsepower,inplace=True)
print(df['horsepower'].head())

3    5000.0
3    5000.0
1    5000.0
2    5500.0
2    5500.0
Name: horsepower, dtype: float64

In [16]:
# compression-ratio
compression_ratio = df['compression-ratio'].mean()
df['compression-ratio'].fillna(compression_ratio,inplace=True)
print(df['compression-ratio'].head())

3    111.0
3    111.0
1    154.0
2    102.0
2    115.0
Name: compression-ratio, dtype: float64

In [17]:
mode_aspiration = df['aspiration'].mode()[0]
df['aspiration'].fillna(mode_aspiration,inplace=True)
print(df['aspiration'].head())

3     two
3     two
1     two
2    four
2    four
Name: aspiration, dtype: object

In [18]:
df.dtypes

symboling            float64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location      float64
wheel-base           float64
length               float64
width                float64
height                 int64
curb-weight           object
engine-type           object
num-of-cylinders       int64
engine-size           object
fuel-system          float64
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm               int64
city-mpg               int64
price                float64
dtype: object

In [19]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
price                0
dtype: int64

In [20]:
df.to_csv("auto_mobile.csv")

In [21]:
# outlier Detection and handling 
# IQR method & Z - score

df.describe()

,symboling,engine-location,wheel-base,length,width,height,num-of-cylinders,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,31.681008,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.519211,476.979093,6.542142,6.886443,7868.768212
min,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,101.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,137.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [22]:
# IQR
q1 = df['horsepower'].quantile(0.25)
q3 = df['horsepower'].quantile(0.75)
iqr = q3-q1
lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr
outliers = df[(df['horsepower'] < lower) | (df['horsepower'] > upper)]
print(outliers[['make','horsepower']])
print(lower)
print(upper)
print(iqr)

  make  horsepower
1  gas      6600.0
1  gas      6600.0
3750.0
6550.0
700.0

In [23]:
# Z - score method 
%pip install scipy

Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (1.16.3)
Requirement already satisfied: numpy<2.6,>=1.25.2 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from scipy) (2.3.4)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [24]:
from scipy import stats
import numpy as np
df['zscore'] = stats.zscore(df['horsepower'])
z_outliers = df[np.abs(df['zscore']) > 3]
print(z_outliers[['make','horsepower']])

  make  horsepower
1  gas      6600.0
1  gas      6600.0

In [25]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price,zscore
3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0,-0.263484
3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,-0.263484
1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,-0.263484
2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,0.787346
2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,0.787346

In [26]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'price',
       'zscore'],
      dtype='object')

In [27]:
# Encoding categorical Data (label Encoding one - hot )
df_onehot = pd.get_dummies(df , columns=['drive-wheels'],prefix='drive')
df_onehot.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price,zscore,drive_front,drive_rear
3,122.0,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,2.68,9.0,111.0,5000.0,21,27,13495.0,-0.263484,True,False
3,122.0,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,64.1,...,2.68,9.0,111.0,5000.0,21,27,16500.0,-0.263484,True,False
1,122.0,alfa-romero,gas,std,two,hatchback,rwd,94.5,171.2,65.5,...,3.47,9.0,154.0,5000.0,19,26,16500.0,-0.263484,True,False
2,164.0,audi,gas,std,four,sedan,fwd,99.8,176.6,66.2,...,3.40,10.0,102.0,5500.0,24,30,13950.0,0.787346,True,False
2,164.0,audi,gas,std,four,sedan,4wd,99.4,176.6,66.4,...,3.40,8.0,115.0,5500.0,18,22,17450.0,0.787346,True,False

In [32]:
# step 2 label (for ordinal has order) manual
cyl_map = {'four':4,'five':5,'two':2}
df['aspiration_encoded'] = df['aspiration'].map(cyl_map)
print(df[['aspiration','aspiration_encoded']])

   aspiration  aspiration_encoded
 3        two                   2
 3        two                   2
 1        two                   2
 2       four                   4
 2       four                   4
..        ...                 ...
-1       four                   4
-1       four                   4
-1       four                   4
-1       four                   4
-1       four                   4

[205 rows x 2 columns]

In [30]:
df['num-of-cylinders'].tail()

-1    141
-1    141
-1    173
-1    145
-1    141
Name: num-of-cylinders, dtype: int64