In [5]:
print("welcome")
print('welcome')

welcome
welcome

In [9]:
print('"welcome to codeswithpankaj.com"')
print("'welcome to codeswithpankaj.com'")

"welcome to codeswithpankaj.com"
'welcome to codeswithpankaj.com'

In [11]:
print(7986875)

7986875

In [15]:
# join string + int
print('my number is ',56576)

my number is  56576

In [17]:
# variable 
x = 10
print(x)

10

In [19]:
name = "Nishant"
age = 23
height = 4.5

print("My name is : ",name)
print("My age is : ",age)
print("My height is : ",height)

My name is :  Nishant
My age is :  23
My height is :  4.5

In [21]:
number1 = 100
number2 = 200
result = number1 + number2
print(result)

300

In [35]:
# type()
data = 10
print(type(data))
data = 1.0
print(type(data))
data = "Joy"
print(type(data))

data = True
print(type(data))

data = [10,45,33,22]
print(type(data))

data = (10,45,33,22)
print(type(data))

data = {10,45,33,22}
print(type(data))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>