In [2]:
# input function 

name = input("Enter Your name ")
age = input("Enter your age ")
height = input("Enter Your Height ")

print("My name is : ",name)
print("My Age is : ",age)
print("My height is ",height)

My name is :  Nishant
My Age is :  45
My height is  4.5

In [ ]:
#int()
#float()
#str()

In [7]:
n1 = int(input('Enter number 1 '))
n2 = int(input('enter number 2 '))
result = n1 * n2
print("this is result : ",result)

# check type
print(type(n1))

this is result :  6942
<class 'int'>

In [ ]:

# Arithmetic Operators

x = 4582
y = 90

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(56 ** 4)
print(x % y)

4672
4492
412380
50.91111111111111
50
9834496
82

In [23]:
# Comparison Operators

print(34 < 78)
print(34 > 78)
print(34 == 78)
print(34 != 78)
print(34 <= 36)
print(34 >= 78)

True
False
False
True
True
False

In [29]:
# Logical Operators
print(89 < 88 and 45 != 90)
print(89 < 88 or 45 != 90)


print(67 != 78)

print(not 23 == 23 )

False
True
True
False

In [33]:
# Assignment Operators

data = 100
print(data)

#data = data + 100
data += 100
print(data)

data *= 100
print(data)

data /= 100
print(data)

data -= 100
print(data)

100
200
20000
200.0
100.0

In [ ]:
# Identity Operators

web = "www.codeswithpankaj.com"
print('w' in web)
print('w' not in web)

True
False

In [38]:

# Membership Operators
data1 = "p4n"
data2 = "cwpc"

print(data1 is data2)
print(data1 is not data2)

False
True

In [2]:
# Date : 12 March 2025

a = 10
b = 2

if a < b:
    print("Number a is smallest...")
else:
    print("Number a is not smallest...")

Number a is not smallest...

In [4]:
n1 = 10
n2 = 20
n3 = 4

if n1 < n2 and n1 < n3:
    print("Number 1 is smallest")
elif n2 < n1 and n2 < n3:
    print("Number 2 is smallest ..")
else:
    print("Number 3 is smallest ")

Number 3 is smallest