In [ ]:
# pandas in python is a data manipulation library
# it is used to read and write data between in-memory data structures and files
# it is used to clean, transform, and analyze data
# it is used to visualize data
# it is used to create data structures

In [1]:
# install pandas using pip
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 17.6 MB/s eta 0:00:01
   ------ --------------------------------- 1.8/11.5 MB 4.4 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.5 MB 7.1 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 7.6 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 8.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 7.9 MB/s eta 0:00:00
Downloading numpy-2.2.4-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.6 MB 10.4 MB/s eta 0:00:02
   -------------- ------------------------- 4.5/12.6 MB 10.8 MB/s eta 0:00:01
   ---------------------- ----------------- 7.1/12.6 MB 11.2 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.6 MB 11.5 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 11.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 10.0 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
# import pandas
import pandas as pd

# series 
# a series is a one-dimensional labeled array capable of holding any data type
# a series is similar to a list or a column in a table

# example

# step 1 - create a data

# create a list of data
data = [1, 2, 3, 4, 5]

# create a series

s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# modify the index of the series
s = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# create a series from a dictionary
data = {'name': 'john', 'age': 25, 'city': 'new york'}
s = pd.Series(data)
print(s)

name        john
age           25
city    new york
dtype: object

In [6]:
# add column name to the series
s = pd.Series(data, name='person')
print(s)

name        john
age           25
city    new york
Name: person, dtype: object

In [9]:
# data frame
# a data frame is a two-dimensional labeled data structure with columns of potentially different types
# a data frame is similar to a table in a database


# example

# step 1 - create a data

data = {'Name':"Nishant", 'Age': 25, 'City': 'New York'}

df = pd.DataFrame(data , index=[0])
print(df)

      Name  Age      City
0  Nishant   25  New York

In [10]:
# create a data frame from a list of dictionaries

data = [{'Name': 'Nishant', 'Age': 25, 'City': 'New York'}, {'Name': 'John', 'Age': 30, 'City': 'Chicago'}]

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0  Nishant   25  New York
1     John   30   Chicago

In [13]:
# read csv file 

d_file = pd.read_csv('dataset/employee_data.csv')

print(d_file.head())

             Name  Salary               City   Department  Age Date of Join
0  Kristina Brown  102161       Johnsonhaven        Sales   38   2023-11-07
1     Kelly Moran  107822  North Michaelside  Engineering   39   2018-07-18
2   Miranda Silva   90319           Deanbury           HR   32   2024-11-22
3    Paul Bennett   85464          Barryfort    Marketing   47   2018-11-28
4  Jessica Powers  115027         Meyerburgh      Finance   48   2018-10-30

In [14]:
# convert into data frame

df = pd.DataFrame(d_file)
print(df)

                  Name  Salary                 City   Department  Age  \
0       Kristina Brown  102161         Johnsonhaven        Sales   38
1          Kelly Moran  107822    North Michaelside  Engineering   39
2        Miranda Silva   90319             Deanbury           HR   32
3         Paul Bennett   85464            Barryfort    Marketing   47
4       Jessica Powers  115027           Meyerburgh      Finance   48
5      William Leonard   57891          Lake Ashley           HR   22
6     Jennifer Jenkins   47585         Hernandezton  Engineering   25
7          Jason Lyons   73351            Jonesbury        Sales   39
8       Nancy Gonzalez  114752        South Vincent        Sales   56
9          George Hunt   32606           Williebury           HR   43
10        Jenna Thomas  107020     Schneiderborough  Engineering   59
11     Brandon Wheeler   70970      North Jamiefurt        Sales   57
12  Dr. Robert Roberts   51320            Lopeztown    Marketing   28
13    Jessica Franklin  112205           Thomasfurt    Marketing   24
14    Lawrence Marquez   45680             Coleside    Marketing   44
15     Elizabeth Smith   36654  South Josephchester  Engineering   32
16        Julia Church   75282         Lake Brandon      Finance   59
17       Destiny Lewis  107413            Clarkberg  Engineering   41
18           Pam Smith   45034           Fullerberg    Marketing   49
19       Steven Barron   53285       South Erictown      Finance   42
20      Tyler Morrison   91565      East Barbaraton      Finance   27
21      Adriana Patton   47107       Johnsonborough    Marketing   39
22         Susan Lewis   91636        Romeroborough      Finance   30
23          Megan Meza   67385         Smithchester           HR   30
24       Donald Conley   43910           Fieldsfort    Marketing   23
25    Tony Fitzpatrick   39705         Santiagofurt        Sales   27
26      William Krause   36702      North Deannaton  Engineering   44
27        Nancy Taylor  102625          East Philip        Sales   37
28        Haley Little   62728           Garciafurt           HR   42
29      Michael Carney   71724         Lake Russell    Marketing   27
30      Crystal Zamora   34574            Davidfurt      Finance   43
31        Lauren Jones   58827  Port Christinaburgh        Sales   42
32         Paul Molina   72208        Angelicamouth      Finance   25
33       Sean Brown MD  112177         Aguirremouth           HR   44
34        Howard Miles   69084    North Martinmouth        Sales   47
35        Jacob Farmer   89439           New Amanda           HR   60
36       Mathew Melton   99255   North Waynechester      Finance   52
37          Susan Nash   90408        Stephanieview    Marketing   23
38         Dave Cooper   88606     Port Nicolemouth    Marketing   23
39  Elizabeth Mcdaniel   53924        South Richard      Finance   51
40       Harold Nguyen   88916           Louisburgh      Finance   44
41        Kevin Rivera  106794       Alvarezchester    Marketing   43
42    Elizabeth Graham   43515           Brewerview      Finance   55
43       Jennifer Tran   79856             East Kim      Finance   42
44       Pamela Jordan   46769  North Jenniferhaven           HR   45
45           Lisa Vega   72107          Nicolemouth  Engineering   60
46        Louis Taylor   42523       Port Dawnmouth  Engineering   37
47       Tyler Simpson   63359          Hintonmouth        Sales   50
48   Christian Roberts   42055           Reillystad           HR   23
49    Jeremiah Garrett   30957         New Danielle    Marketing   54

   Date of Join
0    2023-11-07
1    2018-07-18
2    2024-11-22
3    2018-11-28
4    2018-10-30
5    2024-12-22
6    2017-06-14
7    2021-06-19
8    2016-03-29
9    2025-03-05
10   2016-03-02
11   2018-11-18
12   2020-08-22
13   2024-06-21
14   2020-01-06
15   2020-08-03
16   2017-11-28
17   2021-07-29
18   2021-11-24
19   2015-06-05
20   2020-10-14
21   2024-11-01
22   2016-05-08
23   2018-10-02
24   2020-02-10
25   2015-05-17
26   2018-09-16
27   2017-02-21
28   2021-09-25
29   2015-04-10
30   2018-03-10
31   2017-10-23
32   2018-02-12
33   2020-10-22
34   2020-11-17
35   2017-10-23
36   2015-04-20
37   2022-01-16
38   2018-10-22
39   2022-11-07
40   2018-10-08
41   2016-07-11
42   2021-01-30
43   2021-09-14
44   2024-07-02
45   2016-07-12
46   2017-03-03
47   2019-01-08
48   2016-04-24
49   2023-01-09

In [ ]:
# get the shape of the data frame
print(df.shape)

(50, 6)

In [17]:
# get the data type of each column
print(df.dtypes)
print(df.columns)

Name            object
Salary           int64
City            object
Department      object
Age              int64
Date of Join    object
dtype: object
Index(['Name', 'Salary', 'City', 'Department', 'Age', 'Date of Join'], dtype='object')

In [18]:
# get data summary
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Salary        50 non-null     int64
 2   City          50 non-null     object
 3   Department    50 non-null     object
 4   Age           50 non-null     int64
 5   Date of Join  50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB
None

In [19]:
# get the first n rows of the data frame
print(df.head(2))

             Name  Salary               City   Department  Age Date of Join
0  Kristina Brown  102161       Johnsonhaven        Sales   38   2023-11-07
1     Kelly Moran  107822  North Michaelside  Engineering   39   2018-07-18

In [20]:
# get the last n rows of the data frame
print(df.tail(2))

                 Name  Salary          City Department  Age Date of Join
48  Christian Roberts   42055    Reillystad         HR   23   2016-04-24
49   Jeremiah Garrett   30957  New Danielle  Marketing   54   2023-01-09

In [21]:
# get the specific column from the data frame
print(df['Name'])
print(df.Name)

0         Kristina Brown
1            Kelly Moran
2          Miranda Silva
3           Paul Bennett
4         Jessica Powers
5        William Leonard
6       Jennifer Jenkins
7            Jason Lyons
8         Nancy Gonzalez
9            George Hunt
10          Jenna Thomas
11       Brandon Wheeler
12    Dr. Robert Roberts
13      Jessica Franklin
14      Lawrence Marquez
15       Elizabeth Smith
16          Julia Church
17         Destiny Lewis
18             Pam Smith
19         Steven Barron
20        Tyler Morrison
21        Adriana Patton
22           Susan Lewis
23            Megan Meza
24         Donald Conley
25      Tony Fitzpatrick
26        William Krause
27          Nancy Taylor
28          Haley Little
29        Michael Carney
30        Crystal Zamora
31          Lauren Jones
32           Paul Molina
33         Sean Brown MD
34          Howard Miles
35          Jacob Farmer
36         Mathew Melton
37            Susan Nash
38           Dave Cooper
39    Elizabeth Mcdaniel
40         Harold Nguyen
41          Kevin Rivera
42      Elizabeth Graham
43         Jennifer Tran
44         Pamela Jordan
45             Lisa Vega
46          Louis Taylor
47         Tyler Simpson
48     Christian Roberts
49      Jeremiah Garrett
Name: Name, dtype: object
0         Kristina Brown
1            Kelly Moran
2          Miranda Silva
3           Paul Bennett
4         Jessica Powers
5        William Leonard
6       Jennifer Jenkins
7            Jason Lyons
8         Nancy Gonzalez
9            George Hunt
10          Jenna Thomas
11       Brandon Wheeler
12    Dr. Robert Roberts
13      Jessica Franklin
14      Lawrence Marquez
15       Elizabeth Smith
16          Julia Church
17         Destiny Lewis
18             Pam Smith
19         Steven Barron
20        Tyler Morrison
21        Adriana Patton
22           Susan Lewis
23            Megan Meza
24         Donald Conley
25      Tony Fitzpatrick
26        William Krause
27          Nancy Taylor
28          Haley Little
29        Michael Carney
30        Crystal Zamora
31          Lauren Jones
32           Paul Molina
33         Sean Brown MD
34          Howard Miles
35          Jacob Farmer
36         Mathew Melton
37            Susan Nash
38           Dave Cooper
39    Elizabeth Mcdaniel
40         Harold Nguyen
41          Kevin Rivera
42      Elizabeth Graham
43         Jennifer Tran
44         Pamela Jordan
45             Lisa Vega
46          Louis Taylor
47         Tyler Simpson
48     Christian Roberts
49      Jeremiah Garrett
Name: Name, dtype: object

In [22]:
# find data age between 25 and 30
fliter_age = df[(df['Age'] > 25) & (df['Age'] < 30)]
print(fliter_age)

                  Name  Salary             City Department  Age Date of Join
12  Dr. Robert Roberts   51320        Lopeztown  Marketing   28   2020-08-22
20      Tyler Morrison   91565  East Barbaraton    Finance   27   2020-10-14
25    Tony Fitzpatrick   39705     Santiagofurt      Sales   27   2015-05-17
29      Michael Carney   71724     Lake Russell  Marketing   27   2015-04-10

In [25]:
# create a group by city
group_city = df.groupby('City')

# get the data of the group

for city, data in group_city:
    print(city)

Aguirremouth
Alvarezchester
Angelicamouth
Barryfort
Brewerview
Clarkberg
Coleside
Davidfurt
Deanbury
East Barbaraton
East Kim
East Philip
Fieldsfort
Fullerberg
Garciafurt
Hernandezton
Hintonmouth
Johnsonborough
Johnsonhaven
Jonesbury
Lake Ashley
Lake Brandon
Lake Russell
Lopeztown
Louisburgh
Meyerburgh
New Amanda
New Danielle
Nicolemouth
North Deannaton
North Jamiefurt
North Jenniferhaven
North Martinmouth
North Michaelside
North Waynechester
Port Christinaburgh
Port Dawnmouth
Port Nicolemouth
Reillystad
Romeroborough
Santiagofurt
Schneiderborough
Smithchester
South Erictown
South Josephchester
South Richard
South Vincent
Stephanieview
Thomasfurt
Williebury

In [26]:
# count the number of data in each group
print(group_city.size())

City
Aguirremouth           1
Alvarezchester         1
Angelicamouth          1
Barryfort              1
Brewerview             1
Clarkberg              1
Coleside               1
Davidfurt              1
Deanbury               1
East Barbaraton        1
East Kim               1
East Philip            1
Fieldsfort             1
Fullerberg             1
Garciafurt             1
Hernandezton           1
Hintonmouth            1
Johnsonborough         1
Johnsonhaven           1
Jonesbury              1
Lake Ashley            1
Lake Brandon           1
Lake Russell           1
Lopeztown              1
Louisburgh             1
Meyerburgh             1
New Amanda             1
New Danielle           1
Nicolemouth            1
North Deannaton        1
North Jamiefurt        1
North Jenniferhaven    1
North Martinmouth      1
North Michaelside      1
North Waynechester     1
Port Christinaburgh    1
Port Dawnmouth         1
Port Nicolemouth       1
Reillystad             1
Romeroborough          1
Santiagofurt           1
Schneiderborough       1
Smithchester           1
South Erictown         1
South Josephchester    1
South Richard          1
South Vincent          1
Stephanieview          1
Thomasfurt             1
Williebury             1
dtype: int64

In [28]:
# increase the salary with 10% for only age greater than 25

df['Salary'] = df['Salary'].apply(lambda x: x*1.1 if x > 25 else x)

print(df)

                  Name    Salary                 City   Department  Age  \
0       Kristina Brown  112377.1         Johnsonhaven        Sales   38
1          Kelly Moran  118604.2    North Michaelside  Engineering   39
2        Miranda Silva   99350.9             Deanbury           HR   32
3         Paul Bennett   94010.4            Barryfort    Marketing   47
4       Jessica Powers  126529.7           Meyerburgh      Finance   48
5      William Leonard   63680.1          Lake Ashley           HR   22
6     Jennifer Jenkins   52343.5         Hernandezton  Engineering   25
7          Jason Lyons   80686.1            Jonesbury        Sales   39
8       Nancy Gonzalez  126227.2        South Vincent        Sales   56
9          George Hunt   35866.6           Williebury           HR   43
10        Jenna Thomas  117722.0     Schneiderborough  Engineering   59
11     Brandon Wheeler   78067.0      North Jamiefurt        Sales   57
12  Dr. Robert Roberts   56452.0            Lopeztown    Marketing   28
13    Jessica Franklin  123425.5           Thomasfurt    Marketing   24
14    Lawrence Marquez   50248.0             Coleside    Marketing   44
15     Elizabeth Smith   40319.4  South Josephchester  Engineering   32
16        Julia Church   82810.2         Lake Brandon      Finance   59
17       Destiny Lewis  118154.3            Clarkberg  Engineering   41
18           Pam Smith   49537.4           Fullerberg    Marketing   49
19       Steven Barron   58613.5       South Erictown      Finance   42
20      Tyler Morrison  100721.5      East Barbaraton      Finance   27
21      Adriana Patton   51817.7       Johnsonborough    Marketing   39
22         Susan Lewis  100799.6        Romeroborough      Finance   30
23          Megan Meza   74123.5         Smithchester           HR   30
24       Donald Conley   48301.0           Fieldsfort    Marketing   23
25    Tony Fitzpatrick   43675.5         Santiagofurt        Sales   27
26      William Krause   40372.2      North Deannaton  Engineering   44
27        Nancy Taylor  112887.5          East Philip        Sales   37
28        Haley Little   69000.8           Garciafurt           HR   42
29      Michael Carney   78896.4         Lake Russell    Marketing   27
30      Crystal Zamora   38031.4            Davidfurt      Finance   43
31        Lauren Jones   64709.7  Port Christinaburgh        Sales   42
32         Paul Molina   79428.8        Angelicamouth      Finance   25
33       Sean Brown MD  123394.7         Aguirremouth           HR   44
34        Howard Miles   75992.4    North Martinmouth        Sales   47
35        Jacob Farmer   98382.9           New Amanda           HR   60
36       Mathew Melton  109180.5   North Waynechester      Finance   52
37          Susan Nash   99448.8        Stephanieview    Marketing   23
38         Dave Cooper   97466.6     Port Nicolemouth    Marketing   23
39  Elizabeth Mcdaniel   59316.4        South Richard      Finance   51
40       Harold Nguyen   97807.6           Louisburgh      Finance   44
41        Kevin Rivera  117473.4       Alvarezchester    Marketing   43
42    Elizabeth Graham   47866.5           Brewerview      Finance   55
43       Jennifer Tran   87841.6             East Kim      Finance   42
44       Pamela Jordan   51445.9  North Jenniferhaven           HR   45
45           Lisa Vega   79317.7          Nicolemouth  Engineering   60
46        Louis Taylor   46775.3       Port Dawnmouth  Engineering   37
47       Tyler Simpson   69694.9          Hintonmouth        Sales   50
48   Christian Roberts   46260.5           Reillystad           HR   23
49    Jeremiah Garrett   34052.7         New Danielle    Marketing   54

   Date of Join
0    2023-11-07
1    2018-07-18
2    2024-11-22
3    2018-11-28
4    2018-10-30
5    2024-12-22
6    2017-06-14
7    2021-06-19
8    2016-03-29
9    2025-03-05
10   2016-03-02
11   2018-11-18
12   2020-08-22
13   2024-06-21
14   2020-01-06
15   2020-08-03
16   2017-11-28
17   2021-07-29
18   2021-11-24
19   2015-06-05
20   2020-10-14
21   2024-11-01
22   2016-05-08
23   2018-10-02
24   2020-02-10
25   2015-05-17
26   2018-09-16
27   2017-02-21
28   2021-09-25
29   2015-04-10
30   2018-03-10
31   2017-10-23
32   2018-02-12
33   2020-10-22
34   2020-11-17
35   2017-10-23
36   2015-04-20
37   2022-01-16
38   2018-10-22
39   2022-11-07
40   2018-10-08
41   2016-07-11
42   2021-01-30
43   2021-09-14
44   2024-07-02
45   2016-07-12
46   2017-03-03
47   2019-01-08
48   2016-04-24
49   2023-01-09

In [29]:
# write the data frame to a csv file

df.to_csv('dataset/employee_data_updated.csv', index=False)