In [2]:
name = "joy"
age = 23
height = 4.5

print("My name is : ",name)
print("My age is : ",age)
print("My height is : ",height)

My name is :  joy
My age is :  23
My height is :  4.5

In [3]:
# how to take user input

# input('msg...')
name = input('Enter Your Name - ')
age = input('Enter `your Age - ')
height = input('Enter Your height - ')

print("My name is : ",name)
print("My age is : ",age)
print("My height is : ",height)

My name is :  joy
My age is :  45
My height is :  5.6

In [4]:
a = input('Enter number 1 ')
b = input('Enter number 2 ')

result = a+b
print("this is result : ",result)

this is result :  4560

In [5]:
# check type
# type(data)

print(type(a))

<class 'str'>

In [17]:
data = 12
print(type(data))

data = "cwpc"
print(type(data))

data = 3.4
print(type(data))

data = True
print(type(data))

data = 12,
print(type(data))

data = (12)
print(type(data))

data = (12,)
print(type(data))

data = (12,34,23,22)
print(type(data))

data = 12,34,22
print(type(data))

data = [12,45,67,22]
print(type(data))

data = {12,45,67,22}
print(type(data))

data = {"name":"joy"}
print(type(data))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [ ]:
# int()
# float()
# str()

a = int(input('Enter number 1 '))
b = int(input('Enter number 2 '))



result = a+b
print("this is result : ",result)

this is result :  116