In [3]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/Pankaj-Str/Complete-Python-Mastery/refs/heads/main/54%20Day%20Case%20Study/02/sales_data.csv")

print(data.head())

         Date     Store         City  Revenue Product Category  Quantity  \
0  2023-04-13   Store_2      Phoenix      321             Toys         2
1  2024-03-11  Store_10      Houston     1513        Groceries         8
2  2023-12-15   Store_2  Los Angeles     1821        Furniture         9
3  2023-09-28  Store_10  Los Angeles     1312         Clothing         7
4  2023-04-17   Store_1      Chicago      426         Clothing         3

   Employees  Transactions  Payment Method  Discount  Customer_Age  \
0         28            17  Online Payment     13.82            27
1          6            36  Online Payment     21.60            56
2         26            19      Debit Card     49.02            45
3          7            64     Credit Card      3.38            66
4         16            91  Online Payment     25.94            53

  Customer_Gender
0      Non-binary
1      Non-binary
2      Non-binary
3          Female
4            Male

In [4]:
# Data cleaning 

# check for missing values 
print(data.isnull().sum())

Date                0
Store               0
City                0
Revenue             0
Product Category    0
Quantity            0
Employees           0
Transactions        0
Payment Method      0
Discount            0
Customer_Age        0
Customer_Gender     0
dtype: int64

In [5]:
sales_df = data.dropna()
print(sales_df)

           Date     Store         City  Revenue Product Category  Quantity  \
0    2023-04-13   Store_2      Phoenix      321             Toys         2
1    2024-03-11  Store_10      Houston     1513        Groceries         8
2    2023-12-15   Store_2  Los Angeles     1821        Furniture         9
3    2023-09-28  Store_10  Los Angeles     1312         Clothing         7
4    2023-04-17   Store_1      Chicago      426         Clothing         3
..          ...       ...          ...      ...              ...       ...
495  2023-04-24   Store_8     New York     1429         Clothing         3
496  2023-10-15   Store_1      Phoenix      734         Clothing         9
497  2024-03-06   Store_3      Phoenix     1977      Electronics         2
498  2023-12-08  Store_10      Houston     1806         Clothing         9
499  2023-05-31   Store_9     New York     1704        Groceries         5

     Employees  Transactions  Payment Method  Discount  Customer_Age  \
0           28            17  Online Payment     13.82            27
1            6            36  Online Payment     21.60            56
2           26            19      Debit Card     49.02            45
3            7            64     Credit Card      3.38            66
4           16            91  Online Payment     25.94            53
..         ...           ...             ...       ...           ...
495          9            75     Credit Card     13.92            60
496         11            77  Online Payment     39.91            64
497         25            50  Online Payment     16.31            61
498         12            11     Credit Card     14.97            52
499          9            95  Online Payment     11.63            34

    Customer_Gender
0        Non-binary
1        Non-binary
2        Non-binary
3            Female
4              Male
..              ...
495            Male
496          Female
497      Non-binary
498            Male
499            Male

[500 rows x 12 columns]

In [7]:
print(data.dtypes)

Date                 object
Store                object
City                 object
Revenue               int64
Product Category     object
Quantity              int64
Employees             int64
Transactions          int64
Payment Method       object
Discount            float64
Customer_Age          int64
Customer_Gender      object
dtype: object

In [9]:
# convert date col to date and time 
data['Date'] = pd.to_datetime(data['Date'])

print(data.dtypes)

Date                datetime64[ns]
Store                       object
City                        object
Revenue                      int64
Product Category            object
Quantity                     int64
Employees                    int64
Transactions                 int64
Payment Method              object
Discount                   float64
Customer_Age                 int64
Customer_Gender             object
dtype: object

In [10]:
# remove duplicates 

data = data.drop_duplicates()
print(data.head())

        Date     Store         City  Revenue Product Category  Quantity  \
0 2023-04-13   Store_2      Phoenix      321             Toys         2
1 2024-03-11  Store_10      Houston     1513        Groceries         8
2 2023-12-15   Store_2  Los Angeles     1821        Furniture         9
3 2023-09-28  Store_10  Los Angeles     1312         Clothing         7
4 2023-04-17   Store_1      Chicago      426         Clothing         3

   Employees  Transactions  Payment Method  Discount  Customer_Age  \
0         28            17  Online Payment     13.82            27
1          6            36  Online Payment     21.60            56
2         26            19      Debit Card     49.02            45
3          7            64     Credit Card      3.38            66
4         16            91  Online Payment     25.94            53

  Customer_Gender
0      Non-binary
1      Non-binary
2      Non-binary
3          Female
4            Male

In [11]:
# Calculate the total number of transactions recorded in the dataset.
print(data.shape[0])

500

In [15]:
# store location with highest sales 

print(data.groupby('Store')['Revenue'].sum())

Store
Store_1     61734
Store_10    78093
Store_2     46645
Store_3     48520
Store_4     39991
Store_5     64218
Store_6     51657
Store_7     45679
Store_8     35540
Store_9     38449
Name: Revenue, dtype: int64

In [14]:
# highest sales 
print(data.groupby('Store')['Revenue'].sum().idxmax())

Store_10

In [20]:
# Top 5 City (Sales)
print(data.groupby('City')['Revenue'].sum().sort_values(ascending=False).head())

City
Chicago        107678
New York       106089
Los Angeles    104965
Phoenix         98623
Houston         93171
Name: Revenue, dtype: int64

In [21]:
# Determine the most sold product category.
print(data.groupby('Product Category')['Quantity'].sum().idxmax())

Clothing

In [23]:
print(data.groupby('Product Category')['Quantity'].sum())

Product Category
Clothing       576
Electronics    484
Furniture      531
Groceries      437
Toys           516
Name: Quantity, dtype: int64

In [26]:
# Find the store with the highest average transaction value.
print(data.groupby('Store')['Transactions'].mean().idxmax())

Store_8

In [31]:
# Calculate the total revenue generated by each store.
print(data.groupby('Store')['Revenue'].sum())

Store
Store_1     61734
Store_10    78093
Store_2     46645
Store_3     48520
Store_4     39991
Store_5     64218
Store_6     51657
Store_7     45679
Store_8     35540
Store_9     38449
Name: Revenue, dtype: int64

In [33]:
# top 5 Lowest Revenue

print(data.groupby('Store')['Revenue'].sum().sort_values().head())

Store
Store_8    35540
Store_9    38449
Store_4    39991
Store_7    45679
Store_2    46645
Name: Revenue, dtype: int64

In [35]:
# Revenue per employee
data['Revenue_employee'] = data['Revenue']/data['Employees']
print(data['Revenue_employee'].head())

0     11.464286
1    252.166667
2     70.038462
3    187.428571
4     26.625000
Name: Revenue_employee, dtype: float64

In [41]:
# Analyze how revenue trends over time
# Convert the 'Date' column to datetime
sales_df['Date'] = pd.to_datetime(sales_df['Date'])

# Extract the month from the 'Date' column
sales_df['Month'] = sales_df['Date'].dt.month

# Group by month and calculate the total sales for each group
monthly_sales = sales_df.groupby('Month')['Revenue'].sum()

# Print the monthly sales
print(monthly_sales)

Month
1     49762
2     61056
3     47679
4     66539
5     45342
6     36034
7     34038
8     35510
9     30224
10    36176
11    30232
12    37934
Name: Revenue, dtype: int64