In [1]:
data = "welcome"
print(data)

welcome

In [6]:
# access item
print(data[2])
print(data[4])
print(data[2:6])
print(data[4:])
print(data[:4])

l
o
lcom
ome
welc

In [7]:
data1 = "p4n"
data2 = "cwpc"
print(data1 == data2)

False

In [9]:
data = "Codes With Pankaj"
# 1. upper() converts the string to uppercase
print(data.upper())
# 2. lower() converts the string to lowercase
print(data.lower())

CODES WITH PANKAJ
codes with pankaj

In [ ]:
# 3. partition() returns a tuple
print(data.partition("i"))

('Codes W', 'i', 'th Pankaj')

In [ ]:
# 4. replace() replaces substring inside
print(data.replace('Codes','Python'))

Python With Pankaj

In [ ]:
# 5. find() returns the index of first occurrence of substring
print(data.find('W'))
# 6. rstrip() removes trailing characters
data = "codes with pankaj       "
print(data.rstrip(),'Website')

-1
codes with pankaj Website

In [ ]:
# 7. split() splits string from left (to list)
data = "codes with pankaj"
print(data.split(" "))

['codes', 'with', 'pankaj']

In [ ]:
# 8. startswith() checks if string starts with the specified string
data = "python"
print(data.startswith("p"))
# 9. isnumeric() checks numeric characters
data = "34"
print(data.isnumeric())
# 10. index() returns index of substring
data = "codes with pankaj"
print(data.index("i"))

True
True
7

In [35]:
# format 
name = "joy"
age = 12
height = 4.5

print("your name is ",name,"age ",age,"and height ",height)

print("your name is {0} age {1} and height {2}".format(name,age,height))

print(f"your name is {name} age {age} and height {height}")

your name is  joy age  12 and height  4.5
your name is joy age 12 and height 4.5
your name is joy age 12 and height 4.5

In [ ]:
food = []
price = []
size = int(input('Enter Food list Size - '))

for i in range(size):
    i = input('Enter Food Name - ')
    food.append(i)

for i in range(size):
    i = int(input(f'Enter {food[i]} price - '))
    price.append(i)

for i in range(size):
    print(f"{i+1} . {food[i]} = {price[i]}") 
print(f'Total = {sum(price)}')

0 .  samosa  =  500
1 .  kachori  =  8900
2 .  fafda  =  6900
3 .  vada pav  =  78000
4 .  jalebi  =  56000
total =  150300