In [3]:
# user input 

# print()
# type()

# input()

a = input('Enter Value... ')

Enter Value... hello

In [4]:
name = input('Enter Your Name ... ')
age = input('Enter Your Age ... ')
height = input('Enter Your Height ... ')
print('\n-----------------------------\n')
print("your name is : ",name)
print("Your age is : ",age)
print("your height is : ",height)

Enter Your Name ... joy
Enter Your Age ... 21
Enter Your Height ... 4.5

-----------------------------

your name is :  joy
Your age is :  21
your height is :  4.5

In [6]:
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#int()
#str()
#float()

In [8]:
name = input('Enter Your Name ... ')
age = int(input('Enter Your Age ... '))
height = float(input('Enter Your Height ... '))
print('\n-----------------------------\n')
print("your name is : ",name)
print("Your age is : ",(age-2))
print("your height is : ",height)

Enter Your Name ... joy
Enter Your Age ... 34
Enter Your Height ... 4.5

-----------------------------

your name is :  joy
Your age is :  32
your height is :  4.5

In [17]:
# Arithmetic Operators


a = 345
b = 2

print(a + b)
print(a - b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)
print(a * b)

347
343
172.5
172
1
119025
690

In [21]:
# Assignment Operators

a = 10
print(a)

# a = a + 10
a += 10
print(a)

a -= 10
print(a)

a *= 10
print(a)

a /= 10
print(a)

a %= 10
print(a)

10
20
10
100
10.0
0.0

In [27]:
# Comparison Operators


a = 10
b = 90

print(a < b)
print(a > b)
print(a == b)
print(a != b)

print(a <= b)
print(a >= b)

True
False
False
True
True
False

In [34]:
# Logical Operators
# and 


print(90 < 9 and 45 != 56)

# or 

print(90 < 9 or 45 != 56)
# not

print(not 34 == 34)

False
True
False

In [33]:
print(23 == 23 and 454 < 90 or 56 > 67 and 23 > 10 or 90 != 90)

False

In [37]:
# Identity Operators
# Membership Operators

# is 
# is not

a = "welcome"
b = "p4n"

print(a is b)
print(a is not b)


# in
# not in

False
True
True

In [43]:
data = "welcome to python"
print("python" in data)

print('w' in data)

print('z' in data)


print('g' not in  data)

print('w' not in  data)

True
True
False
True
False

In [44]:
data = [3,22,11,22,33,44]

print(44 in data)

True